<%= link_to list_path(list) do %>
	<div class="col-sm-6 col-md-4">
		<div class="classroom-box">
			<p><strong><%= list.title %></h4></strong></p>
			<span><%= pluralize(list.books.size, "book") %></span>
		</div>
	</div>
<% end %>