<% content_for(:side_bar) do %>
	<div class="sidebar-group">
		<li>
			<%= link_to new_list_path do %>
				<i class="fa fa-plus"></i>
				<span>New List</span>
			<% end %>
		</li>
		<li>
			<%= link_to lists_path do %>
				<i class="fa fa-list"></i>
				<span>My Lists</span>
			<% end %>
		</li>
	</div>
<% end %>