<% content_for(:side_bar) do %>
    <% if @list %>
        <div class="sidebar-group">
            <li>
                <h3 id="title">
                    <%= @list.title %>
                </h3>
            </li>
        </div>
        <div class="sidebar-group">
            <li>
                <p class="sidebar-group-title">Add Book</p>
            </li>
            <li>
                <%= link_to search_path(list_id: @list.id) do %>
                <i class="fa fa-search"></i>
                <span>Search</span>
                <% end %>
            </li>
            <li>
                <%= link_to new_book_path(list_id: @list.id) do %>
                    <i class="fa fa-plus"></i>
                    <span>Manually</span>
                <% end %>
            </li>
        </div>
        <div class="sidebar-group">
            <li>
                <p class="sidebar-group-title">My List</p>
            </li>
            <li>
                <%= link_to list_path(@list) do %>
                <i class="fa fa-book"></i>
                <span>My Books</span>
                <% end %>
            </li>
            <li>
                <%= link_to(edit_list_path(@list)) do %>
                <i class="fa fa-edit"></i>
                <span>Change List Name</span>
                <% end %>
            </li>
            <li>
                <%= link_to(@list, method: :delete, data: {confirm: "Are you sure you want to delete this list? All of its books will be deleted. This action cannot be undone."}) do %>
                <i class="fa fa-trash"></i>
                <span>Delete List</span>
                <% end %>
            </li>
        </div>
        <div class="sidebar-group">
            <li>
                <p class="sidebar-group-title">Info</p>
            </li>
            <li><a>Created: <%= @list.created_at.strftime("%m/%d/%Y") %></a></li>
            <li><a>Total books: <%= @list.books.count %></a></li>
            <% if @total_pages %>
            	<li><a>Total pages: <%= @total_pages %></a></li>
            <% end %>
        </div>
    <% end %>
<% end %>