<% provide(:title, "Change this list's name") %>
<%= render "lists/sidebar_indv_list" %>
<div class="container-flui">
  <h1 class="h1-default">Change name</h1>
    <%= form_for(@list) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>
      <%= f.label :name %>
      <%= f.text_field :title, class: 'form-control', placeholder: "Give your list a name" %>

      <div class="center bottom-medium-margins">
        <%= f.submit "Save changes", class: "btn btn-default green-hover" %>
      </div>
    <% end %>
</div>