<% provide(:title, 'Import books from Goodreads') %>
<div class="container-fluid">
    <p style="margin-top:30px"><%= link_to "< Back to your lists", lists_path %></p>
    <div class="col-md-6 col-md-offset-3">
        <h1 id="import-title">Import books from Goodreads</h1>
        <p id="import-text">If you have a .csv file from Goodreads, you can import those books here. Information on importing can be found in our <%= link_to "FAQs", faq_path %>.<br></p>    
        <%= form_tag import_lists_path, multipart: true, id: "import-form" do %>
            <%= file_field_tag :file, class: "form-control" %>
            <%# hidden_field_tag 'id', params[:id] %>
            <div class="center">
                <%= submit_tag "Import CSV", class: "btn btn-default" %>
            </div>
        <% end %>
    </div>
</div>

<script>

// Change title and text when the import starts
var $importForm = $("#import-form");
$importForm.submit(function(){
    $('#import-title').html('Importing...');
    $('#import-text').html('This can take a while if you have a large library. Keep this tab open.');
    
});

</script>