<% provide(:title, "Your Lists") %>
<%= render "lists/sidebar" %>

<div class="container-fluid">

	<div class="row" style="margin-top: 30px; margin-bottom: 30px">
		<div class="col-xs-6" style="margin-left:0px">
			<h1 class="sm-center pull-left">My lists</h1>
		</div>
		<div class="col-xs-6 center">
			<div class="pull-right"> 
				<% unless @user.lists.count == 0 %>
					<%= link_to "Add a book", search_path, class: "btn btn-default" %>
				<% else %>
					<%= link_to "New list", new_list_path, class: "btn btn-default" %>
				<% end %>
			</div>
		</div>
	</div>
	
	<% if current_user.books.count == 0 && current_user.lists.count > 0%>
		<p style="color: gray">
			<span class="glyphicon glyphicon-info-sign"></span>	
			Tip: Lists are different than classrooms. They're personal collections of books for only you to see.
		</p>
	<% end %>
	
	<% unless @user.lists.count == 0 %>
		<div class="row row-centered-mobile">
			<div class="row">
				<%= render @user.lists %>
			</div>
		</div>
	<% else %>
		<div class="center">
			<%= image_tag 'book.png', class: "list-empty-state-image" %>
			<h3 class="classroom-empty-state-main-heading">You don't have any lists.</h3>
			<p class="classroom-empty-state-subtext">Once you create a list, it'll appear here.</p>
			   
		</div>
	<% end %>
</div>

