<% provide(:title, 'Create a new list') %>
<%= render "lists/sidebar" %>

<div class="container-fluid">
	<h1 class="h1-default">Create a new list</h4>
	<%= form_for(@list) do |f| %>
		<%= render 'shared/error_messages', object: f.object %>
		<%= f.text_field :title, class: 'form-control', placeholder: 'Give your list a name (50 characters max)', autofocus: 'autofocus' %>
		<%= f.submit "Create list", class: "btn btn-default" %>
	<% end %>
</div>

<script>
	// Disable form after one click so that you can't add the book twice
  var $myForm = $("#new_list");
	$myForm.submit(function(){
	    $myForm.submit(function(){
	        return false;
	    });
	});

</script>