<% provide(:title, @list.title) %>
<%= render "lists/sidebar_indv_list" %>

<div class="container-fluid">
	<h1 class="h1-default">My books</h1>
  <!-- Render books -->
  <% if @list.books.any? %>
    <div class="row">
      <%= render @list.books %>
    </div>
  <% else %>
    <p>There are no books in the list <strong><%= @list.title %></strong>. Why don't you add one right now?</p>
  <% end %>
</div>

