<head>
  <meta name="description" content="A reading log for your students. Hundreds of books have been logged with Readlio.">
</head>
<div class="home">
  <!-- Hero -->
  <div class="hero-jumbotron jumbotron">
    <div class="container">
      <div class="hero-div">
        <h1 class="hero-heading">A reading log for <br class="visible-lg visible-md">your students.</h1>
        <p class="hero-subcopy">Thousands of books have been logged with Readlio.</p>
        <br>
        <%= link_to "Get Started", signup_path, class: "btn btn-hero" %>
      </div>
    </div>
  </div>
  <!-- Why readlio -->
  <section class="features-section">
    <div class="container">
      <div class="center row">
        <!--Auto Tally-->
        <div class="col-sm-6 col-md-4" style="margin:30px 0px">
          <div class="feature-circle">
            <i class="fa fa-calculator fa-2x"></i><br>
          </div>
          <h4>Auto Tally</h3><br>
          <p>Readlio automatically tallies total page count.</p>
        </div>
        <!--Activity Feed-->
        <div class="col-sm-6 col-md-4" style="margin:30px 0px">
          <div class="feature-circle">
            <i class="fa fa-chart-line fa-2x"></i><br>
          </div>
          
          <h4>Activity Feed</h3><br>
          <p>Students see what classmates are reading.</p>
        </div>
        <!--Minimum Pages-->
        <div class="col-sm-6 col-md-4" style="margin:30px 0px">
          <div class="feature-circle">
            <i class="fa fa-check fa-2x"></i><br>
          </div>
          
          <h4>Minimum Pages</h3><br>
          <p>Set a minimum page count for your students.</p>
        </div>
        <!--Suggestions-->
        <div class="col-sm-6 col-md-4" style="margin:30px 0px">
          <div class="feature-circle">
            <i class="fab fa-google fa-2x"></i><br>
          </div>
          <h4>Google Books</h3><br>
          <p>Add books through Google Books, or input them manually.</p>
        </div>
        <!--Reviews-->
        <div class="col-sm-6 col-md-4" style="margin:30px 0px">
          <div class="feature-circle">
            <i class="fa fa-edit fa-2x"></i><br>
          </div>
          <h4>Reviews</h3><br>
          <p>Make sure that your students actually read the book by having them write a review.</p>
        </div>
        <!--Student Profiles-->
        <div class="col-sm-6 col-md-4" style="margin:30px 0px">
          <div class="feature-circle">
            <i class="fa fa-user fa-2x"></i><br>
          </div>
          <h4>Student Profiles</h3><br>
          <p>Students see a nice overview of all the books they read in their student profiles.</p>
        </div>
      </div>
    </div>
  </section>
  
  <div class="bottom jumbotron">
    <h1>Readlio is 100% free.</h1>
      <div class="center">
        <%= link_to "Get Started", signup_path, class: "btn btn-hero" %>
      </div>
    </div>
  </div>
</div>