<% provide(:title, "Support") %>
<div class="container">
	<h1 class="h1-centered">Support</h1>
	<div class="row center">
		<div class="col-md-8 col-md-offset-2">
			<div class="col-md-6 support-col">
				<a href="https://readlio.helpsite.com/">
					<img src="//i.imgur.com/RFrHqcO.png" width="95">
					<h3>FAQ</h3>
					<p class="center" style="margin-top:15px">Visit the Readlio FAQ.</p>
				</a>
			</div>
			<div class="col-md-6 support-col">
				<a href="mailto:readlioinc@gmail.com?Subject=Hello%20there%21">
					<img src="//i.imgur.com/LihsOEZ.png" width="75">
					<h3>Contact Support</h3>
					<p class="center" style="margin-top:15px">We're always here to answer your questions.</p>
				</a>
			</div>
		</div>
	</div>
</div>