<% provide(:title, "Log in") %>
<div class="container-fluid">
  <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <h1 class="h1-default" style="margin: 60px 0px 30px 0px">Log in</h1>
        <%= form_for(:session, url: login_path) do |f| %>
          <%= f.email_field :email, class: 'form-control', placeholder: 'Email Address', autofocus: 'autofocus'%>
          <%= f.password_field :password, class: 'form-control', placeholder: 'Password' %>
          <div class="center">
            <%= f.label :remember_me, class: "checkbox inline" do %>
              <%= f.check_box :remember_me, class: "checkbox-control" %>
              <span style="margin: 0px 0px 30px 25px">Keep me signed in </span>
            <% end %>
            <%= f.submit "Log in", class: "btn btn-default" %>
          </div>
          <div class="center" style="text-align:center; margin-top:15px">
            <span><%= link_to "Forgot password?", new_password_reset_path %></span><br>
            <span><%= link_to "Don't have an account?", new_user_path %></span>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>