<% provide(:title, 'Reset password') %>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <h1 class="h1-default">Reset password</h1>
    <%= form_for(@user, url: password_reset_path(params[:id])) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>
      <%= hidden_field_tag :email, @user.email %>

      <%= f.label :password, "New Password" %>
      <%= f.password_field :password, class: 'form-control', autofocus: 'autofocus' %>

      <%= f.label :password_confirmation, "Confirmation" %>
      <%= f.password_field :password_confirmation, class: 'form-control' %>
      <div class="center">
        <%= f.submit "Update password", class: "btn btn-default" %>
      </div>
    <% end %>
  </div>
</div>