<% provide(:title, "Forgot password") %>
<div class="container" style="margin-top:30px">
  <%= link_to "< Back", login_path, class: "back-to-text" %>
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <h1 class="h1-default">Forgot password</h1>
    	<p class="center" style="margin:30px"></p>
      <%= form_for(:password_reset, url: password_resets_path) do |f| %>
        <%= f.email_field :email, class: 'form-control', autofocus: 'autofocus', placeholder: "Enter your email and we'll send you instructions on how to reset your password." %>
        <%= f.submit "Submit", class: "btn btn-default" %>
      <% end %>
    </div>
  </div>
</div>
