<% if classbook.user_id == current_user.id %>
	<% path = classbook_path(classbook) %>
<% else %>
	<% if @classroom_role == "Teacher" %>
		<% path = student_path(:student_id => classbook.user.id, :classroom_id => @classroom.id) %>
	<% else %>
		<% path = user_path(classbook.user) %>
	<% end %>
<% end %>

<div class="book-container">
	<%= link_to path do %>
		<div class="row">
			<% if avatar %>
				<div class="col-sm-2 avatar-container">
					<%= avatar_for classbook.user, size: 50 %>
					<p class="user-name"><%= classbook.user.name %></p>
					<span class="date-added">Added <%= classbook.created_at.strftime("%m/%d/%Y") %></span>
				</div>
			<% end %>
			<% unless classbook.manual %>
				<div class="col-sm-2 col-lg-1">
					<%= image_tag(classbook.image_url, class: "book-image", width: "100%", height: "auto", alt: classbook.title) %><br><br>
				</div>
			<% end %>
			<div class="col-sm-9">
				<h4 class="list-book-title"><%= classbook.title %></h4>
				<h5 class="list-book-author"><%= classbook.author %></h5>
				<%= render 'reviews/review', classbook: classbook %>
			</div>
		</div>
	<% end %>
</div>