<% role = classroom_role(classroom) %>
<% path = (role == "Teacher" ? students_path(classroom_id: classroom) : classroom_path(classroom)) %>
<%= link_to path do %>
	<div class="col-sm-6 col-md-4">
		<div class="classroom-box">
			<p><strong><%= classroom.title %></h4></strong></p>
			<span><%= classroom_role(classroom) %></span></span>
		</div>
	</div>
<% end %>