<% content_for(:side_bar) do %>
	<% if @classroom %>
		<div class="sidebar-group">
			<li><h3 id="title"><%= @classroom.title %></h3></li>
		</div>
		<div class="sidebar-group">
			<li><p class="sidebar-group-title">Add book</p></li>
			<li>
				<% if !@classroom.archived %>
					<%= link_to classroomsearch_path(classroom_id: @classroom) do %>
			          <i class="fa fa-search"></i>
			          <span>Search</span>
			        <% end %>
			    <% end %>
	    	</li>
	    	<li>
				<% if !@classroom.archived %>
					<%= link_to new_classbook_path(classroom_id: @classroom) do %>
			          <i class="fa fa-plus"></i>
			          <span>Manually</span>
			        <% end %>
			    <% end %>
	    	</li>
	    </div>
	    <div class="sidebar-group">
			<li><p class="sidebar-group-title">Me</p></li>
			<li>
				<%= link_to classroom_path(@classroom) do %>
		          <i class="fa fa-book"></i>
		          <span>My Books</span>
		        <% end %>
	    	</li>
			<li>
				<%= link_to classbooks_print_path(classroom_id: @classroom)do %>
		          <i class="fa fa-print"></i>
		          <span>Print Books</span>
		        <% end %>
	    	</li>
		</div>
		<div class="sidebar-group">
			<% if @classroom_role == "Teacher" %>
				<li><p class="sidebar-group-title">Students</p></li>
				<li>
					<%= link_to students_path(:classroom_id => @classroom) do %>
			          <i class="fa fa-user-graduate"></i>
			          <span>Manage Students</span>
			        <% end %>
		    	</li>
			<% else %>
				<li><p class="sidebar-group-title">Classmates</p></li>
			<% end %>
			<li>
				<%= link_to classroom_activity_path(:classroom_id => @classroom) do %>
		          <i class="fa fa-chart-line"></i>
		          <span>Activity Feed</span>
		        <% end %>
	    	</li>
	    	<li>
				<%= link_to leaderboards_path(:classroom_id => @classroom) do %>
		          <i class="fa fa-trophy"></i>
		          <span>Leaderboards</span>
		        <% end %>
	    	</li>
		</div>
		<% if @classroom_role == "Teacher" %>
			<div class="sidebar-group">
				<li><p class="sidebar-group-title">Manage</p></li>
				<li>
					<%= link_to info_path(classroom_id: @classroom) do %>
					<i class="fa fa-info-circle"></i>
						<span>Info</span>
					</a>
					<% end %>
				</li>
				<li>
					<%= link_to edit_classroom_path(@classroom) do %>
			        <i class="fa fa-cog"></i>
			        <span>Settings</span>
			        <% end %>
			    </li>
			</div>
		<% end %>
		<div class="sidebar-group">
			<li><p class="sidebar-group-title">Misc</p></li>
			<!-- Archived -->
			<% if @classroom.archived %>
				<li><span>This classroom is archived.</span></li>
			<% end %>

			<!-- Teacher names -->
			<% if @teachers && !@teachers.empty? %>
				<li><a><span><%= "Teacher".pluralize(@teachers) + ": " + @teachers %></span></a></li>
			<% end %>

			<!-- Current term -->
			<% if @classroom.has_current_term? && @current_term %>
				<li><a><span>Current Term: <%=@current_term.title%></span></a></li>
			<% end %>

			<!-- Required pages -->
			<% if @classroom.required_pages? %>
				<li><a><span>Required Total Pages: <%=@classroom.required_pages %></span></a></li>
			<% end %>

			<!-- Total pages -->
			<% if @current_user_total_pages %>
				<li><a><span>My Page Count: <%= @current_user_total_pages %></span></a></li>
			<% end %>

			<!-- Total books -->
			<% if @current_user_current_classbooks %>
				<li><a><span>My Book Count: <%= @current_user_current_classbooks.size %></span></a></li>
			<% end %>

			<!-- Leave classroom -->
			<li>
				<%= link_to leave_classroom_path(classroom_id: @classroom) do %>
			    <i class="fa fa-sign-out-alt"></i>
			    <span>Leave this classroom</span>
			    <% end %> 
			</li>
		</div>
	<% end %>
<% end %>