<% content_for(:side_bar) do %>
	<div class="sidebar-group">
		<li><p class="sidebar-group-title">Actions</p></li>
		<li>
			<%= link_to new_classroom_path do %>
				<i class="fa fa-plus"></i>
				<span>New Classroom</span>
			<% end %>
		</li>
		<li>
			<%= link_to classroom_join_path do %>
				<i class="fa fa-sign-in-alt"></i>
				<span>Join Classroom</span>
			<% end %>
		</li>
	</div>
	<div class="sidebar-group">
		<li><p class="sidebar-group-title">Classrooms</p></li>
		<li>
			<%= link_to classrooms_path do %>
				<i class="fa fa-school"></i>
				<span>Active Classrooms</span>
			<% end %>
		</li>
		<li>
			<%= link_to archived_path do %>
				<i class="fa fa-archive"></i>
				<span>Archived Classrooms</span>
			<% end %>
		</li>
	</div>
<% end %>