<div class="col-xs-4 pull-right">
	<%= select_tag "sort_students_by", options_for_select([ "First Name", "Last Name", "Number of Books", "Number of Pages" ], params[:sort_students_by]), class: "dropdown-select form-control" %>

	<script>
		$(document).ready(function () {
  	$('#sort_students_by').on('change', function () {
				var sort_students_by = $("#sort_students_by").val();
		    var sort_url = '/classrooms/'+<%= @classroom.id %>+'?term_id='+<%= @selected_term_id %>+'&sort_students_by='+sort_students_by;
		    window.open(sort_url,"_self");
      });
  	});
	</script>
	
</div>

