<% if @classroom.has_terms? && @classroom.terms.count > 1 && @classroom.students.count > 0 %>
    <br>
	<div class="pull-right break-above" style="margin-top:2em">
		<%= select_tag "terms", options_from_collection_for_select(@classroom.terms, "id", "title", @selected_term_id.to_s), class: "dropdown-select form-control", :include_blank => 'Show all' %>
		<script>
			$(document).ready(function () {
      	$('#terms').on('change', function () {
      		var term = $("#terms").val();
			    var term_url = '/classrooms/'+<%= @classroom.id %>+'?term_id='+term;
		    	window.open(term_url,"_self");
      });

    });
		</script>
	</div>
<% end %>