<% provide(:title, "Activity Feed") %>
<%= render "classrooms/sidebar_show" %>
<div class="container-fluid">
	<h1 class="h1-default">Activity Feed</h1>
	<% if @classbooks.any? %>
		<% @classbooks.each do |classbook| %>
			<%= render 'activity_classbook', classbook: classbook, avatar: true %>
		<% end %>
		
		<div class="center">	
			<%= will_paginate @classbooks %>
		</div>

	<% else %>
		<p class="center">There aren't any books in this class.</p>
	<% end %>
</div>
