<% provide(:title, "Archived Classrooms") %>
<%= render "classrooms/sidebar_index" %>
<h1>Archived Classrooms</h1>
<div class="row">
	<%= render @classrooms %> 
</div>
<% if @classrooms.empty? %>
    <p>Looks like you haven't archived any classrooms.</p>
<% end %>
