<% provide(:title, "Settings") %>
<%= render "classrooms/sidebar_show" %>

<div class="container-fluid" id="settings">
  <%= form_for(@classroom, html: { multipart: true }) do |f| %>
    <h1>Settings</h1>
    <%= render 'shared/error_messages', object: f.object %>
    
    <%= f.label :title, class: "form-label" %>
    <%= f.text_field :title, class: 'form-control', placeholder: "Give your classroom a name" %>
    
    <%= f.label :required_pages, class: "form-label" %>
    <!--<span>When there is a required number of pages, students are able to see a progress meter of how much they have to read.</span>-->
    <%= f.number_field :required_pages, class: 'form-control', placeholder: 'Required page count (optional)', min: 0, max: 1_000_000 %>
   <hr>
    <!--Enable/disable activity feed-->
    <%= f.label :activity_feed, class: "form-label" %>
    <!--<span>When enabled, students are able to their classmates' recently added books.</span>-->
    <%= f.label :activity_feed, class: "checkbox" do %>
      <%= f.check_box :activity_feed_enabled %>
      <span>Enable activity feed for students</span>
    <% end %>
    <hr>
    <!--Enable/disable leaderboards-->
    <%= f.label :leaderboards, class: "form-label" %>
    <%= f.label :leaderboards, class: "checkbox" do %>
      <%= f.check_box :leaderboards_enabled %>
      <span>Enable leaderboards</span>
    <% end %>

    <!--Have teachers choose between books and pages for leaderboards-->
    <%= f.label :judge_leaderboards_by, class: "form-label" %>

    <div>
		  <label class="radio-inline">
		  	<%= f.radio_button :judge_leaderboards_by, 'Books', class: "radio-inline" %>Most books
		  </label>
			<label class="radio-inline">
				<%= f.radio_button :judge_leaderboards_by, 'Pages', class: "radio-inline" %>Most pages
			</span>
    </div>
    
    <hr>
    <h4>Terms</h4>
		<ul>
			<li>
				<div class="row">
					<div class="col-xs-5">
						<%= f.label :title %>
					</div>
					<div class="col-xs-3">
						<%= f.label :start_date %>
					</div>
					<div class="col-xs-3">
						<%= f.label :end_date %>
					</div>
				</div>
	  	</li>

	    <%= f.nested_fields_for :terms do |terms_form| %>
	      <li>
	        <div class="row">
	        	<div class="col-xs-5">
	        		<%= terms_form.text_field :title, class: 'form-control form-lg', placeholder: 'Term Name (ex: Quarter 1)'%>
	        	</div>
	        	<div class="col-xs-3">
	        		<%= terms_form.date_field :start_date, class: "form-control date-field", placeholder: "Start date"%>
	        	</div>
	        	<div class="col-xs-3">
	        		<%= terms_form.date_field :end_date, class: "form-control date-field", placeholder: "End date"%>
	        	</div>
	        	<div class="col-xs-1">
	        		<a style="margin-top:10px"><%= terms_form.remove_nested_fields_link '', class: 'glyphicon glyphicon-trash delete-icon' %></a>
	        	</div>
	        </div>
	      </li>
	    <% end %>
	  	</ul>
		
		<%= f.add_nested_fields_link :terms do %>
			<div class="new-term-block">
				<span class="fa fa-plus"></span>
				<span>New term</span>
			</div>
		<% end %>
    <hr>
    <div class="center">
      <%= f.submit "Save settings", class: "btn btn-default green-hover" %>
    </div>
  <% end %>
  <hr>
    <h4>Leave classroom</h4>
    <p>In order to rejoin the classroom, you will need a class code.</p>
    <%= link_to remove_self_path(classroom_id: @classroom.id) do %>
      <div class="btn btn-default">
        <i class="fa fa-sign-out"></i>
        <span>Leave classroom</span>
      </div>
    <% end %>
  <hr>
  <% if @classroom.archived %>
    <h4>Unarchive classroom</h4>
    <p>This will reenable students to add books.</p>
    <%= link_to archive_path(classroom_id: @classroom.id) do %>
      <div class="btn btn-default">
        <i class="fa fa-archive"></i>
        <span>Unarchive classroom</span>
      </div>
    <% end %>
  <% else %>
    <h4>Archive classroom</h4>
    <p>This will prevent students from adding any books. You can always unarchive a classroom by finding it in your <%= link_to "archived classrooms", archived_path %>.</p>
    <%= link_to archive_path(classroom_id: @classroom.id) do %>
      <div class="btn btn-default">
        <i class="fa fa-archive"></i>
        <span>Archive classroom</span>
      </div>
    <% end %>
  <% end %>
  <hr>
    <h4>Delete classroom</h4>
    <p>This action can't be reversed, so make sure it's what you want.</p>
    <%= link_to(@classroom, method: :delete, data: {confirm: "Are you sure you want to delete this classroom? This action can't be reversed."}) do %>
      <div class="btn btn-default">
        <i class="fa fa-trash"></i>
        <span>Delete classroom</span>
      </div>
    <% end %>
</div>