<% provide(:title, "My Classrooms") %>
<%= render "classrooms/sidebar_index" %>

<div class="container-fluid">
	<h1>My Classrooms</h1>

	<% unless @classrooms.count == 0 %>
		<div class="row">
			<%= render @classrooms %>
		</div>
	<!--End row for classrooms-->
	<% else %>
	<!-- Empty state -->
	<div class="classroom-empty-state center">
		<!--Empty state image-->
		<%= image_tag 'book.png', class: "list-empty-state-image" %>
		<!--Empty state title-->
		<h3 class="classroom-empty-state-main-heading">Looks like you don't have any classrooms.</h3>
		<!--Empty state text-->
		<p class="classroom-empty-state-subtext center">
			Once you create a classroom or join a classroom, it'll appear here.
		</p>
		<!--end faq link-->
	</div>
	<!--end empty state-->
	<% end %>
	<!--end control flow-->
</div>