<%= render "classrooms/sidebar_show" %>
<div class="container-fluid">
  <h1 class="h1-default">Info</h1>
  <div class="col-md-6">
    <table class="table" style="text-align:left">
      <tr>
        <td>Created on:</td>
        <td><%= @classroom.created_at.strftime("%m/%d/%Y") %></td>
      </tr>
      
      <% if @classroom.has_current_term? %>
      <tr>
        <td>Current term:</td>
        <td><%=@current_term.title%></td>
      </tr>
      <% end %>
      
      <tr>
        <td><%= "Teacher".pluralize(@teachers) %>:</td>
        <td><%= @teachers if @teachers %></td>
      </tr>
      
      <tr>
        <td>Total students:</td>
        <td><%= @classroom.students.count%></td>
      </tr>
      
      <tr>
        <td>
          <% if @classroom.has_current_term? %>
          Books Read (this term):
          <% else %>
          Books Read:
          <% end %>
        </td>
        <td><%= @classbooks.count(:all) %></td>
      </tr>
      
      <tr>
        <td>
          <% if @classroom.has_current_term? %>
          Total Pages (this term):
          <% else %>
          Total Pages:
          <% end %>
        </td>
        
        <!--Variable is defined in controller-->
        <td><%= @classroom_total_pages %></td>
      </tr>
      
      <tr>
        <td>Invite students using this class code:</td>
        <td><%= @classroom.student_classcode.value if @classroom.student_classcode %></td>
      </tr>
      
      <tr>
        <td>Invite teachers using this class code:</td>
        <td><%= @classroom.teacher_classcode.value if @classroom.teacher_classcode %></td>
      </tr>
    </table>
  </div>
</div>