<% provide(:title, 'Join an existing classroom') %>
<%= render "classrooms/sidebar_index" %>

<div class="container-fluid">
	<div class="row">
		<h1 class="h1-default">Join a classroom</h4>
		<%= form_tag(classroom_join_path, method: "get", id: "classcode-form") do %>
			<%= text_field_tag :classcode, params[:classcode], placeholder: "Enter a class code", class: "form-control" %>
		   <%= submit_tag "Join", class: "btn btn-default" %>
		<% end %>
	</div>
</div>

