<% provide(:title, "Leaderboards") %>
<%= render "classrooms/sidebar_show" %>
<div class="container-fluid">
	<h1>Leaderboards</h1>
  <% unless find_classbooks(@classroom.id, nil, @classroom.current_term_id).count == 0 %>
    <table class="table">
	  <% count = 0 %>
	  <col width="1%">
	  <col width="74%">
	  <col width="25%">
	  <tr>
	    <td><strong></strong></td>
	    <td><strong>Student</strong></td>
	  <% if @classroom.judge_leaderboards_by == "Pages" %>
	      <td><strong>Pages</strong></td>
	    </tr>
	    <% @classroom.students.sort { |a,b| total_pages(find_classbooks(@classroom.id, b.id, @selected_term_id)) <=> total_pages(find_classbooks(@classroom.id, a.id, @selected_term_id)) }.take(4).each do |student| %>
	      <% count += 1 %>
	      <% pages = total_pages(find_classbooks(@classroom.id, student.id, @selected_term_id)) %>
	      <% if pages > 0 %>
	        <tr>
	          <td><strong><%= count %></strong></td>
	    	    <td><%= student.name %></td>
	    	    <td><%= pages %></td>
	        </tr>
	      <% end %>
	   <% end %>
	  <% else %>
	      <td><strong>Books</strong></td>
	    </tr>
	    <% @classroom.students.sort { |a,b| find_classbooks(@classroom.id, b.id, @selected_term_id).count <=> find_classbooks(@classroom.id, a.id, @selected_term_id).count }.take(4).each do |student| %>
	      <% count += 1 %>
	      <% classbooks = find_classbooks(@classroom.id, student.id, @selected_term_id).count %>
	      <% if classbooks > 0 %>
	        <tr>
	          <td><strong><%= count %></strong></td>
	    	    <td><%= student.name %></td>
	    	    <td><%= classbooks %></td>
	        </tr>
	      <% end %>
	   <% end %>
	  <% end %>
	</table>
  <% else %>
    <p class="center">No students have added books.</p>
  <% end %>
</div>