<% provide(:title, @classroom.title) %>
<%= render "classrooms/sidebar_show" %>

<div class="container-fluid">
    <!-- List title -->
    <h1 class="h1-default">Leave this classroom</h1>
    <p>This will delete all the books you have added to this classroom.</p>
    <p>This action can't be reversed, so make sure it's what you want.</p>
    <%= link_to remove_self_path(:id => @classroom.id, data: {confirm: "Are you sure you want to leave this class?"}) do %>
      <div class="btn btn-default">
        <i class="fa fa-trash"></i>
        <span>Leave this classroom</span>
      </div>
  <% end %>
</div>