<% provide(:title, 'Set up a classroom') %>
<%= render "classrooms/sidebar_index" %>

<div class="container-fluid">
	<h1>Set up a classroom</h4>
	<%= form_for(@classroom) do |f| %>
		<%= render 'shared/error_messages', object: f.object %>
		<%= f.text_field :title, class: 'form-control', placeholder: 'Give your classroom a name', autofocus: 'autofocus' %>
		<%= f.number_field :required_pages, class: 'form-control', placeholder: 'Required page count (Optional)', min: 0, max: 1_000_000 %>
		<hr>
		<h4>Terms (optional)</h4>
		<ul>
		<li>
			<div class="row">
				<div class="col-xs-5">
					<%= f.label :title %>
				</div>
				<div class="col-xs-3">
					<%= f.label :start_date %>
				</div>
				<div class="col-xs-3">
					<%= f.label :end_date %>
				</div>
			</div>
		</li>
	    <%= f.nested_fields_for :terms do |terms_form| %>
	      <li>
	        <div class="row">
	        	<div class="col-xs-5">
	        		<%= terms_form.text_field :title, class: 'form-control form-lg', placeholder: 'Example: Quarter 1'%>
	        	</div>
	        	<div class="col-xs-3">
	        		<%= terms_form.date_field :start_date, class: "form-control date-field", placeholder: "mm/dd/yy"%>
	        	</div>
	        	<div class="col-xs-3">
	        		<%= terms_form.date_field :end_date, class: "form-control date-field", placeholder: "mm/dd/yy"%>
	        	</div>
	        	<div class="col-xs-1">
	        		<a style="margin-top:10px"><%= terms_form.remove_nested_fields_link '', class: 'glyphicon glyphicon-trash delete-icon' %></a>
	        	</div>
	        </div>
	      </li>
	    <% end %>
	  	</ul>
		
		<%= f.add_nested_fields_link :terms do %>
			<div class="new-term-block">
				<span class="fa fa-plus"></span>
				<span>New term</span>
			</div>
		<% end %>
		
		<div class="center">
			<%= f.submit "Create classroom", class: "btn btn-default center" %>
		</div>
	<% end %>
</div>
<script>
	// Disable form after one click so that you can't add the book twice
  var $myForm = $("#new_classroom");
	$myForm.submit(function(){
	    $myForm.submit(function(){
	        return false;
	    });
	});

</script>