<% provide(:title, @classroom.title) %>
<%= render "classrooms/sidebar_show" %>

<div class="container-fluid">
    <!-- List title -->
    <h1 class="h1-default">My books</h1>
    <% if @classroom.has_terms? %>
      <%= select_tag "terms", options_from_collection_for_select(@classroom.terms, "id", "title", @selected_term_id.to_s), class: "dropdown-select form-control", :include_blank => 'Show all' %>
			<script>
				$(document).ready(function () {
            $('#terms').on('change', function () {
                var term = $("#terms").val();
    				    var url = '/classrooms/'+<%= @classroom.id %>+'?term_id='+term;
    				    window.open(url,"_self");

            });
        });
			</script>
	  <% end %> <!-- End if @classroom.has_terms?-->
  
    <!-- Render books --> 
    <% if @current_user_current_classbooks.any? %>
      <div class="row">
        <%= render @current_user_current_classbooks %>
      </div>
    <% else %>
      <p>You haven't added any books <% if @classroom.has_terms? %>for this term<% else %>to this classroom<% end %>.</p>
    <% end %>
</div>