<% provide(:title, @student.name) %>
<%= render "classrooms/sidebar_show" %>

<div class="container-fluid">
  <h1 class="h1-default">Viewing Student: <%=@student.name%></h1>
  <div class="student-info">
    <p><b>Email:</b> <%=@student.email%></p>
    <p><b>Pages:</b> <%=@student_total_pages%></p>
    <p><b>Books:</b> <%=@classbooks.count%></p>
  </div>
  <% if @classroom.has_terms? %>
    <div>
      <%= select_tag "terms", options_from_collection_for_select(@classroom.terms, "id", "title", @selected_term_id.to_s), class: "dropdown-select form-control", :include_blank => 'Show all' %>
			<script>
				$(document).ready(function () {
          $('#terms').on('change', function () {
            var term = $("#terms").val();
            var url = '/student?classroom_id='+<%= @classroom.id %>+'&student_id='+<%= @student.id%>+'&term_id='+term;
            window.open(url,"_self");
          });
				});
			</script>
    </div>
  <% end %>

  <% if @classbooks.any? %>
    <div class="row">
      <% @classbooks.each do |classbook| %>
        <%= render 'activity_classbook', classbook: classbook, avatar: false, remove_link: true %>
      <% end %>
    </div>
  <% else %>
      <p class="student-empty-state">This student hasn't added any books <% if @classroom.has_terms? %>for this term<% else %>to this classroom<% end %>.</p>
  <% end %>

  <%= link_to remove_student_path(:id => @student.id, :classroom_id => @classroom.id), class: "btn btn-default green-hover center" do %>
    <span class="fa fa-sign-out"></span>
    <span>Remove student from <%=@classroom.title%></span>
  <% end %>

</div>
<%= render 'shared/show_more_js' %>