<% provide(:title, "Students") %>
<%= render "classrooms/sidebar_show" %>
<h1>Manage Students</h1>
<table class="table">
	<col width="10%">
	<col width="50%">
	<col width="20%">
	<col width="20%">
	<% if @classroom.students.count > 0 %>
		<!--Labels at the top-->
		<tr>
			<td class="hidden-xs"><strong>Avatar</strong></td>
			<td><strong>Name</strong></td>
			<% if @classroom.has_current_term? %>
				<td><strong>Total Books (this term)</strong></td>
			<% else %>
				<td><strong>Total Books</strong></td>
			<% end %>
			<% if @classroom.has_current_term? %>
				<td><strong>Total Pages (this term)</strong></td>
			<% else %>
				<td><strong>Total Pages</strong></td>
			<% end %>
			<% if @classroom.required_pages %>
				<td><strong>Required pages</strong></td>
			<% end %>
		</tr>


		<!--Each individual student-->
		<% @classroom.students.sort { |a,b| return_sort(a, params[:sort_students_by]) <=> return_sort(b, params[:sort_students_by]) }.each do |student| %>
			<% student_classbooks = find_classbooks(@classroom.id, student.id, @selected_term_id) %>
			<% student_total_pages = total_pages(student_classbooks) %>
			<tr>
				<!--Avatar - don't show in mobile-->
				<td class="hidden-xs">
					<%= avatar_for student, size: 30 %>
			    </td>
			    <!--Student name, links to student_path-->
				<td><p><%= link_to student.name, student_path(:student_id => student.id, :classroom_id => @classroom.id) %></p></td>
				<!--Student's classbooks count-->
				<td><p><%= student_classbooks.count %></p></td>
				<!--Student's total pages-->
				<td><p><%= student_total_pages %></p></td>
				<!--Show whether student has met total pages-->
				<% if @classroom.required_pages %>
					<td>
						<!--Variable @classroom_total_pages is defined in controller-->
						<% if student_total_pages >= @classroom.required_pages %>
							<!--Check icon-->
							<!--<i class="fa fa-check"></i>-->
							<p>Yes</p>
						<% else %>
							<!--X icon-->
							<!--<i class="fa fa-times"></i>-->
							<p>No</p>
						<% end %>
					</td>
				<% end %>
			</tr>
		<% end %>
	<% else %>
		<br>
		<p>There aren't any students in this class. <br><br>Invite them with this class code: <strong><%=@classroom.student_classcode.value if @classroom.student_classcode%></strong></p>
	<% end %>
</table>
