Password Reset

Somebody recently requested a password reset for your Readlio account.

Was that you? If it was, click the link below to reset your Readlio password. If it wasn't, another user probably entered your email by mistake while trying to reset their password, and you can ignore this email.

<%= edit_password_reset_url(@user.reset_token, email: @user.email) %>

This link will expire in two hours.

(c) 2016 Readlio