<h1>Password Reset</h1>

<p>
Somebody recently requested a password reset for your Readlio account. If that was you, click the link below to reset your Readlio password. If it wasn't, another user probably entered your email by mistake, and you can ignore this email. This link will expire in two hours.
<br><br>
<%= edit_password_reset_url(@user.reset_token, email: @user.email) %>
<br><br>
This link will expire in two hours.</p>

<small>(c) 2016 Readlio</small>