<p>Hi <%= @user.name %>!
<br><br>
As part of recent security maintenance, we need you to reset your password. You will not be able to access your Readlio account until you do so. Rest assured, all of your data is perfectly safe. If you've already unlocked your account before, you can ignore this message.
<br><br>
 1) Follow this link to resetting your password:
<%= link_to 'Reset my password', "readlio.com" + unlock_account_path(email: @user.email, name: @user.name) %>
<br><br>
2) Enter your new password when prompted.
<br><br>
P.S. Teachers: your students will be unable to access their accounts until they reset their passwords as well. If your students cannot receive emails or for some reason have not received this email, have them follow this link where they will be able to reset their password: http://readlio.com/unlock_account
<br><br>
We sincerely apologize for any inconvenience this may cause. You’re always free to contact us at readlioinc@gmail.com. 
<br><br>
Best regards,
<br>
The team at Readlio
</p>