<% provide(:title, "Settings") %>
<div class="container-fluid">
  <h1 class="h1-centered">Settings</h1>
  <!-- Form for editing user -->
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <%= form_for(current_user, html: { multipart: true }) do |f| %>
        <%= render 'shared/error_messages', object: f.object %>
        <div class="row md-center">
          <div class="col-md-2">
            <div class="settings-avatar">
              <%= avatar_for current_user, size: 80 %>
            </div>
          </div>
          <div class="col-md-10">
            <%= f.label :change_your_avatar %>
            <%= f.file_field :avatar, accept: 'image/jpeg,image/gif,image/png', class:"form-control" %>
            <div style="margin-left:15px">
              <%= f.label :remove_avatar, class: "checkbox" do %>
                <%= f.check_box :remove_avatar %>
                <span>Remove avatar</span>
              <% end %>
            </div>
          </div>
          
          <!-- Save button -->
        <div class = "center bottom-medium-margins">
          <%= f.submit "Save avatar", class: "btn btn-default green-hover" %>
        </div>
        </div>
        <hr>
        <!-- Name -->
        <%= f.label :name %>
        <%= f.text_field :name, class: 'form-control' %>
        <!-- Email -->
        <%= f.label :email %>
        <%= f.email_field :email, class: 'form-control' %>
        <!-- Bio -->
        <%= f.label :bio %>
        <%= f.text_area :bio, class: 'form-control', placeholder: "140 characters max." %>
        <hr>
        <!--Enable lists-->
        <%= f.label :lists %>
        <br>
        <span>Log books without having to join a classroom.</span>
        <%= f.label :enable_lists, class: "checkbox" do %>
          <%= f.check_box :lists_enabled %>
          <span>Enable lists</span>
        <% end %>
        <hr>
        <!--Enable lists-->
        <%= f.label :profile_page %>
        <br>
        <span>If checked, no one but you can view your profile page. Otherwise, anyone can view your profile page.</span>
        <%= f.label :profile_private, class: "checkbox" do %>
          <%= f.check_box :profile_private %>
          <span>Private profile page</span>
        <% end %>

        <hr>
        <!-- Password -->
        <%= f.label :new_password %>
        <%= f.password_field :password, class: 'form-control', placeholder: 'Optional' %>
        <!-- Password confirmation -->
        <%= f.label :new_password_confirmation, "Confirmation" %>
        <%= f.password_field :password_confirmation, class: 'form-control', placeholder:'Confirm your new password' %>
        
        <!-- Save button -->
        <div class = "center bottom-medium-margins">
          <%= f.submit "Save changes", class: "btn btn-default green-hover" %>
        </div>
      <% end %>
      
      <hr>
      
      <% if current_user.lists.any? %>
        <%= link_to "Remove all lists", remove_all_lists_path(current_user), data: {confirm: "Are you sure you want to remove all your lists? This action cannot be undone."} %><br>
      <% end %>
      <% if current_user.books.any? %>
        <%= link_to "Remove all books inside lists", remove_all_books_path(current_user), data: {confirm: "Are you sure you want to remove all your books inside lists? This action cannot be undone."} %><br>
      <% end %>
      <% if current_user.classbooks.any? %>
        <%= link_to "Remove all books inside classrooms", remove_all_classbooks_path(current_user), data: {confirm: "Are you sure you want to remove all your books inside classrooms? This action cannot be undone."} %>
      <% end %>
      
      <hr>
      
      <div class="center">
        <h3 style="margin-top:30px; margin-bottom:15px">Delete your account</h3>
        <p class="center">This action can't be reversed, so make sure it's what you want.</p>
        <%= link_to(current_user, method: :delete, data: {confirm: "Are you sure you want to delete your account? This will permanently delete all your lists and books. This action can't be reversed."}) do %>
          <btn class="btn btn-danger">Delete your account</btn>
        <% end %>
      </div>

    </div>
  </div>
</div>


<script type="text/javascript">
  $('#avatar_picture').bind('change', function() {
    var size_in_megabytes = this.files[0].size/1024/1024;
    if (size_in_megabytes > 5) {
      alert('Maximum file size is 5MB. Please choose a smaller file.');
    }
  });
</script>