<% provide(:title, 'Sign up') %>
<div class = "container">
  <h1 class="h1-default">Sign up for a free account</h2>
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <%= form_for(@user) do |f| %>
        <%= render 'shared/error_messages', object: f.object %>

        <%= f.text_field :name, class: 'form-control', placeholder: 'Name', autofocus: 'autofocus' %>

        <%= f.email_field :email, class: 'form-control', placeholder: 'Email' %>

        <%= f.password_field :password, class: 'form-control', placeholder: 'Password (six characters minimum)' %>
        
        <%= f.password_field :password_confirmation, class: 'form-control bottom-medium-margins', placeholder: 'Confirm your password' %>
        
        <%= hidden_field_tag "new_user", true %>
        
        <!--<p class = "center bottom-small-margins">By clicking submit, you agree to the <%# link_to "Terms of Service", terms_path %> and <%# link_to "Privacy Policy.", privacy_path %></p>-->
        <div class="center">
          <%= f.submit "Create my account", class: "btn btn-default green-hover bottom-medium-margins" %>
        </div>
      <% end %>
    </div>
  </div>
  <div class="center">
    <span><%= link_to "Already have an account?", login_path %></span>
  </div>
</div>

<script>
	// Disable form after one click so that you can't add the book twice
  var $myForm = $("#new_user");
	$myForm.submit(function(){
	    $myForm.submit(function(){
	        return false;
	    });
	});

</script>