<% if (not @user.profile_private) || @user == current_user%>
  <% provide(:title, @user.name) %>
  <div class="container" style="margin-top:30px">
    <div class="pull-right">
      <% if @user == current_user %>
  	    <%= link_to edit_user_path(current_user) do %>
          <i class="glyphicon glyphicon-pencil"></i>
            <span>Edit your profile</span>
          <% end %> 
        <% end %> 
      </div>
      <div class="center" style="margin:30px 30px">
        <%= avatar_for @user, size: 80 %>
        <h1><%= @user.name %></h1>
        <p><%= @user.bio %></p>
        <br>
        <p style="color:gray">Joined <%= time_ago_in_words(@user.created_at) %> ago</p>
        <br>
      </div>
      <div class="row">
          <div class="col-xs-6 col-sm-3 center">
            <h1><%= @books_count %></h1>
            <span>books read</span>
          </div>
          <div class="col-xs-6 col-sm-3 center">
            <h1><%= @page_count %></h1>
            <span>pages read</span>
          </div>
          <div class="col-xs-6 col-sm-3 center">
            <h1><%= @user.teaching_classrooms.count %></h1>
            <span>classrooms teaching</span>
          </div>
          <div class="col-xs-6 col-sm-3 center">
            <h1><%= @user.attending_classrooms.count %></h1>
            <span>classrooms joined</span>
          </div>
      </div>
      <hr>
      
      <% if @recent_books.any? %>
        <%= render @recent_books %> 
      <% else %>
        <% if @user == current_user %>
          <p class="center">You haven't added any books.</p>
        <% else %>
          <p class="center">This user hasn't added any books.</p>
        <% end %>
      <% end %>
  </div>
<% else %>
  <% provide(:title, "Profile not found.") %>
  <div class="container-fluid">
    <h1>Profile not found.</h1>
    <p class="center">This profile may be private. You may be able to view it by <%= link_to "logging in.", login_path %></p>
  </div>
<% end %>