<div class="center ad-banner print-hidden">
     <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
     <!-- classroom -->
     <ins class="adsbygoogle"
          style="display:block"
          data-ad-client="ca-pub-6379400738810441"
          data-ad-slot="5474865811"
          data-ad-format="auto"></ins>
     <script>
     (adsbygoogle = window.adsbygoogle || []).push({});
     </script>
</div>