<% if object.errors.any? %>
  <div id="error_explanation">
    <div class="center alert alert-danger" style="margin-bottom:15px">
      <ul>
        <% object.errors.full_messages.each do |msg| %>
          <li><%= msg %>.</li>
        <% end %>
      </ul>
    </div>
  </div>
<% end %>