<script>
	$('.show-more-text').readmore({
	  moreLink: '<div class="show-more"><a href="#">Show more</a></div>',
	  lessLink: '<div class="show-more"><a href="#">Show less</a></div>',
	  collapsedHeight: 110,
	  heightMargin: 16
	});
</script>