<div class="col-sm-12">
	<div class="book-container">
		<%= link_to book_path(book) do %>
			<div class="book-container-flex">
				<% unless book.manual %>
						<%= image_tag(book.image_url, class: "book-image", width: "50px", height: "100%", alt: book.title) %><br><br>
				<% end %>
				<div>
					<h4 class="list-book-title"><%= book.title %></h4>
					<h5 class="list-book-author"><%= book.author %></h5>
					<p class="list-book-pages">Pages: <%= book.pages %></p>
					<p class="date-added">Added <%= book.created_at.strftime("%m/%d/%Y") %></p>
				</div>
			</div>
		<% end %>
	</div>
</div>
