<!--Start modal-->
<div class="modal-dialog">
	<!--Start modal content-->
	<div class="modal-content">
		<!--Modal header-->
		<div class="modal-header">
			<!--X to close modal-->
	        <button type="button" class="close" data-dismiss="modal">&times;</button>
	        <!--Modal title-->
	        <h4 class="modal-title center">Add this book to your library</h4>
	    </div>
	    <!-- Start modal body-->
	    <div class="modal-body">
	    	<!--Start row-->
	    	<div class="row">
	    		<!--Left hand side of modal-->
				<div class="col-md-4 center">
					<!--Book image-->
					<%= link_to result[:url] do %>
						<%= image_tag(result[:image_url], width:"100px", style: "margin-top:15px")%>
					<% end %>
					<!--Book title-->
					<h4><%= link_to result[:title], result[:url] %></h4>
					<!--Book author-->
					<h5><%= result[:author] %></h5>
					<!--Book pages-->
					<h5>Pages: <%=result[:pages]%></h5>
				</div>
				<!--Right hand side of modal-->
				<div class= "col-md-8">
					<!--Link to add book to library-->
					<%= form_for(@book) do |f| %>
						<!--Not part of form_for @book - it's for creating a new Review-->
						<%= f.text_area :review, class: 'form-control', autofocus: 'autofocus', placeholder: "Write a review (optional). Supports markdown.", rows: "10" %>

						<%= hidden_field_tag "book[title]", result[:title] %>
						<%= hidden_field_tag "book[author]", result[:author] %>
						<%= hidden_field_tag "book[image_url]", result[:image_url] %>
						<%= hidden_field_tag "book[amazon_url]", result[:url] %>
						<%= hidden_field_tag "book[asin]", result[:asin] %>
						<%= hidden_field_tag "book[pages]", result[:pages] %>
						<%= hidden_field_tag "book[description]", result[:editorial_review] %>
						<%= hidden_field_tag "book[isbn]", result[:isbn] %>
						<%= hidden_field_tag "book[manual]", false %>

						<!--Submit button-->
						<div class="sm-center">
							<div style="width:100%">
								<%= f.select :list_id, options_for_select(@list_options), class: "form-control" %>
							</div>
							<%= f.submit "Add to list", class: "btn btn-default", data: { onclick: "this.disabled=true;this.value='Submitting, please wait...';this.form.submit();"} %>
						</div>
					<% end %>
				</div>
			</div>
			<!--End row-->
		</div>
		<!--End modal body-->
	</div>
	<!--End modal content-->
</div>
<!--End modal-->

<script>
	// Disable form after one click so that you can't add the book twice
  var $myForm = $("#new_book");
	$myForm.submit(function(){
	    $myForm.submit(function(){
	        return false;
	    });
	});

</script>