<!--Edit page for manual books-->
<% provide(:title, "Edit " + @book.title) %>
<%= render "lists/sidebar_indv_list" %>
<!--Start container-->
<div class = "container">
  <!--Title and link back-->
  <div style = "margin-top:30px; margin-bottom:30px">
    <%= link_to "< Back", book_path(@book), class: "back-to-text" %>
    <h1>Edit <%= @book.title %></h1>
  </div>
  
  <!--Start row for col-md-6 and col-md-offset-3-->
  <div class="row" style="margin-top:30px">
    <!--Start col-md-6 and col-md-offset-3-->
    <div class="col-md-6 col-md-offset-3">
      <!--Start edit form for book-->
      <%= form_for(@book) do |f| %>
        <!--Render error messages-->
        <%= render 'shared/error_messages', object: f.object %>
        <!--Title-->
        <%= f.label :title %>
        <%= f.text_field :title, class: 'form-control', placeholder: "Title" %>
        <!--Author-->
        <%= f.label :author %>
        <%= f.text_field :author, class: 'form-control', placeholder: "Author" %>
        <!--Pages-->
        <%= f.label :pages %>
        <%= f.number_field :pages, class: 'form-control', placeholder: "Number of pages", min: 0, max: 100_000 %>
        <!--Review-->
        <%= f.label :review %>
        <%= f.text_area :review, placeholder: "Any thoughts or comments on the book? Did you like the book or hate it? What was the writing style like?  i.e. 'Harry Potter is a great book by J.K. Rowling.'\n\n Supports Markdown.", class:"form-control", rows: "6" %>
        <!--Submit button-->
        <div class="center">
          <%= f.submit "Save changes", class: "btn btn-default green-hover" %>
        </div>
      <% end %>
    </div>
    <!--End col-md-6 and col-md-offset-3-->
  </div>
  <!--End row-->
</div>
<!--End container-->