<!--New for manual book-->
<% provide(:title, 'Add a book') %>
<%= render "lists/sidebar_indv_list" %>
<!--Start container-->
<div class="container-fluid">
  <h1 class="h1-default">Add Book Manually</h1>
  <% if current_user.lists.any? %>
  <!-- There are lists -->
      <%= form_for(@book) do |f| %>
        <%= render 'shared/error_messages', object: f.object %>
        <%= f.select :list_id, options_for_select(@list_options), class: "form-control" %>
        <%= f.text_field :title, class: 'form-control', placeholder: "Title", autofocus: 'autofocus' %>
        <%= f.text_field :author, class: 'form-control', placeholder: "Author (optional)" %>
        <%= f.number_field :pages, class: 'form-control', placeholder: "Number of pages (optional)", min: 0, max: 100_000 %>
        <%= f.text_area :review, class: 'form-control', placeholder: "Write a review (optional). \n \nAny thoughts or comments on the book? Did you like the book or hate it? i.e. 'Harry Potter is an excellent book by J.K. Rowling because of the brilliant...'", rows: "6" %>
        <%= hidden_field_tag "book[manual]", true %>
        <div class = "center">
          <%= f.submit "Add to list", class: "btn btn-default" %>
        </div>
      <% end %>
    <% else %>
    <!-- No lists exist -->
      <div class="center">
        <p>You don't have any lists, so you can't add a book to your library.<br><br>Why don't you go make a list now?</p>
        <%= link_to "Alright!", lists_path, class:"btn btn-default" %>
      </div>
    <% end %>
</div>
