<% provide(:title, 'Search for a book') %>
<%= render "lists/sidebar_indv_list" %>
<!-- Top section -->
<div class="container-fluid">
	<% if current_user.lists.any? %>
		<h1 class="h1-default">Search Google Books</h1>
		<!-- Search bar -->
		<%= form_tag(search_path, method: "get", id: "search-form") do %>
		  <div class="left-inner-addon">
		    <i class="glyphicon glyphicon-search"></i>
		    <%= text_field_tag :keywords, params[:keywords], placeholder: "Search by book title or author", class: "form-control", autofocus: 'autofocus' %>
		    <%= hidden_field_tag :list_id, params[:list_id] %>
		  </div>
		  <div class="center" style="margin-bottom:30px">
		    <%= submit_tag "Search", class: "btn btn-default" %>
		  </div>
		<% end %>
		<script>
			// // Disable form after one click so that you can't send multiple requests in a second
		 // var $myForm = $("#search-form");
			// $myForm.submit(function(){
			//     $myForm.submit(function(){
			//         return false;
			//     });
			// });
		</script>
		
		<!-- Begin results -->
		<% if not @results.nil?%>
			<% if @results.any?%>
				<% result_number = 0 %>
				<% @results.each do |result| %>
					<% result_number += 1 %>
					<% @modal_name = "addClassbookModal" + result_number.to_s %>
					<div id=<%=@modal_name%> class="modal fade" role="dialog">
						<%= render 'search_modal', result: result, result_number: result_number %>
					</div>
					<!-- Begin individual -->
					<div class="book-row thumbnail">
						<!-- Begin row -->
						<div class="row">
							<div class="col-md-4 center">
								<%= link_to image_tag(result[:image_url], width: "100px", style: "margin-top:15px"), result[:url] %>
							</div>
							<div class="col-md-8 md-center">
								<h4><%= link_to result[:title], result[:url] %></h4>
								<h5><%= result[:author] %></h5>
								<% if result[:editorial_review] %>
								  
								  <!--Display the editorial review-->
									<div class="show-more-text">
										<p><%= sanitize result[:editorial_review], tags: %w(p) %></p>
									</div>
									
								<% end %>
								<!-- Begin add button -->
								<% if logged_in? %>
									<% if current_user.lists.count != 0 %>
									<div data-toggle="modal" data-target=<%="#addClassbookModal"+result_number.to_s%> style="cursor:pointer">
								    	<button class="btn btn-default">Add to list</button>
								     </div>
								<% else %>
									<!-- User has no lists -->
									<p> You don't have any lists. You can't add this book to your library.</p>
								<% end %>
								<% end %>
							</div>
						</div>
					</div>
				<% end %>
				<p class="center" style="margin: 30px 0px">Showing first 10 results only.</p>
			<% else %>
				<p class="center">No results found. Try another keyword.</p>
			<% end %>
		<% end %>
	<% end %>
</div>
<%= render 'shared/show_more_js' %>