<% provide(:title, @book.title) %>
<%= render "lists/sidebar_indv_list" %>
<div class="container-fluid container-padding">
  <div class="row">
    <!--Left hand side, includes book image, title, author, pages, and link to buy book on Amazon-->
    <div class="col-md-4" style="margin-bottom:30px">
      <div class="center">
          <!--Gives book image, and if manual displays manual thumbnail with title-->
          <%= render 'books_classbooks/book_image', book: @book %>
          <h3><%= @book.title %></h3>

          <!--Author-->
  			  <h4><%=@book.author%></h4>
  			 
  			  <!-- Page count if @book.pages exists-->
    			<% if @book.pages %>
        	  <p>Pages: <%=@book.pages%></p>
        	<% end %>
        	<!--Link to buy book on Amazon if the book has an amazon url-->
  			  <% if @book.amazon_url %>
  			    <%= link_to "Find on Amazon", @book.amazon_url, class: "center btn btn-default" %>
		      <% end %>
		  </div>
    </div>
    <!--Right hand side, includes editorial review, current_user's review, and other people's reviews-->
    <div class="col-md-8">
        <%= render 'books_classbooks/book_review', book: @book %>
        <%= render 'books_classbooks/book_actions', book: @book %>
    </div>
  </div>
</div>
<%= render 'shared/show_more_js' %>