<% provide(:title, '500 - Internal Server Error') %>
<div class="center">
    <h1>We're sorry, but something went wrong.</h1>
    <p class="center">It may be a problem with Readlio. <a href="mailto:readlioinc@gmail.com?Subject=Hello%20there%21">Contact support and we'll get back to you ASAP.</a>
    </p>
    <div class="center">
        <%= link_to "Go to Home Page", classrooms_path, class: "btn btn-default" %>
    </div>
</div>