<% provide(:title, '404 - Page Not Found') %>
<div class="center">
    <h1>We could not find the requested page.</h1>
    <p class="center">Either you typed the url wrong, or we broke off the link. If you'd like, you can report the error at our <a href="https://bitbucket.org/cozymonster29/readlio/issues?status=new&status=open">bug tracker</a>.
    <br>
    If you need an immediate response, <a href="mailto:readlioinc@gmail.com?Subject=Hello%20there%21">contact support and we'll get back to you ASAP.</a>
    </p>
    <div class="center">
        <%= link_to "Go to Home Page", classrooms_path, class: "btn btn-default" %>
    </div>
</div>