<!--Book image or manual thumbnail-->
<% unless book.manual %>
  <% book_url = book.amazon_url ? book.amazon_url : book.image_url %>  

  <!--Link to amazon url from book-->
	<%= link_to image_tag(book.image_url, class: "center", width: "150", height: "auto", alt: book.title), book_url %><br><br>
<% end %>
