<span>
    <!--Edit review (non-manual) or edit book (manual)-->
    <% if book.manual %>
        <% if defined? book.term_id %>
            <%= link_to edit_classbook_path(book), class: "btn btn-default green-hover" do %>
                <span class="fa fa-edit"></span>
                <span>Edit book</span>
            <% end %>
        <% else %>
            <%= link_to edit_book_path(book), class: "btn btn-default green-hover" do %>
                <span class="fa fa-edit"></span>
                <span>Edit book</span>
            <% end %>
        <% end %>
    <% else %>
        <% if @review %>
            <%= link_to edit_review_path(@review), class: "btn btn-default green-hover" do %>
                <span class="fa fa-edit"></span>
                <span>Edit review</span>
            <% end %>
        <% else %>
            <% if defined? book.term_id %>
                <%= link_to edit_classbook_path(book), class: "btn btn-default green-hover" do %>
                    <span class="fa fa-edit"></span>
                    <span>Edit review</span>
                <% end %>
            <% else %>
                <%= link_to edit_book_path(book), class: "btn btn-default green-hover" do %>
                    <span class="fa fa-edit"></span>
                    <span>Edit review</span>
                <% end %>
            <% end %>
        <% end %>
    <% end %>
</span>
<!--Delete book button-->
<span style="margin-left:20px">
    <%= link_to(book, method: :delete, class: "btn btn-default green-hover") do %>
    	<span class="fa fa-trash"></span>
    	<span>Remove book</span>
    <% end %>
</span>
