<!--Show editorial review if there is one, also hide the full content with a show more if needed-->
<% unless book.manual %>
    <% if book.description  %>
        <h4>Description:</h4>
        <!--Display the editorial review-->
    	<p><%= sanitize book.description, tags: %w(br p) %></p>
        <hr>
    <% end %>
<% end %>
<!--Show current_user's review-->
<h4>Your review:</h4>
<% if book.review && (not book.review.blank?) %>
    <p><%= sanitize @markdown.render(book.review)%></p>
<% else %>
    <p><i>You haven't written a review.</i></p>
<% end %>

<!--Show other people's reviews-->
<%# if @reviews && @reviews.any? %>
    <%# render 'books_classbooks/review_table' %>
<%# end %>