<hr>
<h4 style="margin-bottom:30px">Other users' reviews:</h4>
<table class="table">
    <col width="20%">
    <col width="80%">
    <% if @reviews %>
        <!--Go through each review and display user and content-->
        <% @reviews.each do |review| %>
            <tr>
                <!--Find user-->
                <% @user = User.find_by(id: review.user_id) %>
                <td class="center">
                    <!--Display avatar-->
                	<%= avatar_for @user, size: 50 %>
                	<br>
                	<!--Display user name-->
                	<p style="margin-top:15px"><%= @user.name %></p>
                </td>
                <td>
                    <div class="show-more-text">
                		<p><%= sanitize @markdown.render(review.content) %></p>
                	</div>
                </td>
            </tr>
        <% end %>
    <% end %>
</table>