<div role="tabpanel" class="tab-pane fade in active" id="home">
  <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
    
    <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="headingOne">
        <h4 class="panel-title">
        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          Logging in
        </a>
        </h4>
      </div>

      <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
        <div class="panel-body">
          <ul>
            <li>1. Go to the login page.</li>
            <li>2. Enter the email address that you used to sign up for Readlio.</li>
            <li>3. Enter the password you used to sign up for Readlio.</li>
            <li>4. Check “Keep me signed in” if you’d like Readlio to remember you. If you check this, then you won’t need to login the next time you visit Readlio.</li>
            <li>5. Click “Log in”.</li>
          </ul>
        </div>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="headingTwo">
        <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          Logging out
        </a>
        </h4>
      </div>

      <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
        <div class="panel-body">
          <ul>
            <li>1. Find the dropdown with your avatar in the upper right.</li>
            <li>2. Click to open the dropdown.</li>
            <li>3. Click “Log out”.</li>
          </ul>
        </div>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="headingOne">
        <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          Resetting your password
        </a>
        </h4>
      </div>
      <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
        <div class="panel-body">
          <ul>
            <li>1. Go to the login page.</li>
            <li>2. Click “Forgot your password?”</li>
            <li>3. Enter the email address that you used to sign up for Readlio. If Readlio doesn’t recognize that email, it will give an error message. Otherwise, it will give a confirmation message.</li>
            <li>4. Check your email for the reset link. It may take up to 15 minutes to send.</li>
            <li>5. From your email, click the link given to reset your password.</li>
            <li>6. Enter your new password and confirm it.</li>
            <li>7. Click “Update password”.</li>
          </ul>
        </div>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="headingOne">
        <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
          Editing your account
        </a>
        </h4>
      </div>
      <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
        <div class="panel-body">
          <ul>
            <li>1. Click to open the dropdown with your avatar in the upper right.</li>
            <li>2. Click “Settings”.</li>
            <li>3. From here, you can edit your account details, including:</li>
            <ul style="margin-left: 15px">
              <li>a. Your avatar - displayed in classrooms and on your profile page.</li>
              <li>b. Your name.</li>
              <li>c. Your email.</li>
              <li>d. Your bio - displayed on your profile page.</li>
              <li>e. The ability to enable lists (automatically checked if you already have used this function before).</li>
              <li>f. Your password.</li>
            </ul>
          </ul>
        </div>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="headingOne">
        <h4 class="panel-title">
        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
          Deleting your account
        </a>
        </h4>
      </div>
      <div id="collapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
        <div class="panel-body">
          <ul>
            <li>1. Click to open the dropdown with your avatar in the upper right.</li>
            <li>2. Click “Settings”.</li>
            <li>3. Scroll to the bottom of the page.</li>
            <li>4. Click "Delete your account".</li>
            <li>Be sure that you really want to delete your account - all of your lists, books, and classrooms will also be deleted.</li>
            <li>5. Confirm your deletion by clicking "Ok" when the popup appears.</li>
            </ul>
          </ul>
        </div>
      </div>
    </div>

  </div>
</div>