<!-- Classrooms -->
<div role="tabpanel" class="tab-pane fade in active" id="home">
  <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
    
    <div class="panel panel-default">
      
      <div class="panel-heading" role="tab" id="headingOne">
        <h4 class="panel-title">
        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          Creating classrooms
        </a>
        </h4>
      </div>

      <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
        <div class="panel-body">
          <ul>
            <li>1. Click “Classrooms” in the navigation bar in the top right.</li>

            <li>2. Click the “New classroom” button in the upper right.</li>

            <li>3. You’ll be redirected to “Set up a classroom”. There are multiple fields here to fill out and they can all be changed later:</li>
            <ul style="margin-left: 15px"> 
              <li>a. Give a name to your classroom - it can be anything, and you can always change it later.</li>
              <li>b. Required pages (optional): if you would like to set a required page count for you students, you can do so here. This feature is compatible with terms.</li>
              <li>c. Terms (optional). In essentiality, terms are academic terms that last however you want, but they’re designed for accordance to quarters, trimesters and semesters. You specify a start date and end date for each term so Readlio knows the current term.</li>
            </ul>
            
            <li>4. Click “New term” to add more terms. Click the trash button next to each term to get rid of each term.</li>

            <li>5. When you’ve filled out the necessary fields, click “Create Classroom”.</li>
          </ul>
        </div>
      </div>

    </div>

  </div>
</div>