/*
*= require_self
*= require_tree .
*= require bootstrap-datepicker3
 */
@import "bootstrap-sprockets";
@import "bootstrap";
@import "variables";

/* universal */

html {
  height: 100%;
}

body {
  height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

hr {
  margin-top: 30px;
}

.container-padding {
  margin: 30px 0;
}

// Centering with Bootstrap Queries
.center {
  margin: 0 0 auto;
  text-align: center;
  .container {
    margin-top: 75px;
  }
}

.xs-center {
  @media (max-width: $media-xs) {
    margin: 0 auto;
    text-align: center;
  }
}

.sm-center {
  @media (max-width: $media-sm) {
    margin: 0 auto;
    text-align: center;
  }
}

.md-center {
  @media (max-width: 992px) {
    margin: 0 auto;
    text-align: center;
  }
}

// Aligning - making sure to center in mobile
.pull-left {
  @media (max-width: $media-sm) {
    margin: 0 0 auto;
    text-align: center;
  }
}

.pull-right {
  @media (max-width: $media-sm) {
    margin: 0 0 auto;
    text-align: center;
  }
}

/* centered columns styles */
.row-centered {
  text-align:center;
}
.col-centered {
  display:inline-block;
  float:none;
  /* reset the text-align */
  text-align:left;
  /* inline-block space fix */
  margin-right:-4px;
}
/*and for mobile*/
.row-centered-mobile {
  @media (max-width: $media-xs) {
    text-align:center;
  }
}
.col-centered-mobile {
  @media (max-width: $media-xs) {
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:left;
    /* inline-block space fix */
    margin-right:-4px;
  }
}

/* forms */

input, textarea, .uneditable-input {
  border-radius: 6px;
  width: 50%;
  margin-bottom: 15px;
  line-height: 30px;
  @include box_sizing;
  text-align: left;
  background-color: white;
}

input {
  height: auto !important;
  text-align: left;
}

select {
  margin-bottom: 15px;
  background: transparent;
  width: 100%;
  padding: 5px;
  font-size: 16px;
  border: 1px solid #ccc;
  height: 34px;
  // border: none;
  box-shadow: none;
  -webkit-appearance:none;
  -moz-appearance: none; 
  background: url('http://i.imgur.com/jYO3Dvo.png') no-repeat 95% 50%;
}

.dropdown-select {
  border: none;
  box-shadow: none;
  -webkit-appearance:none;
  -moz-appearance: none; 
  background: url('http://i.imgur.com/jYO3Dvo.png') no-repeat 95% 50%;

}
label {
}

#error_explanation {
  text-align: center;
  color: red;
  ul {
    color: red;
 /*   margin: 0 0 30px 0;*/
  }
  margin-bottom:15px;
}

.field_with_errors {
  font-weight: 300;
/*  @extend .has-error;*/
  .form-control {
    color: $state-danger-text;
  }
}

// Checkboxes
.checkbox {
  font-weight: 300;
  margin: 10px;
  margin-left: 15px;
}

.checkbox-control{
  border: 1px solid black;
  border-radius: 0;
}

// Radio buttons
.radio-inline {
  margin-left: 0;
}
#session_remember_me {
  font-weight: 300;
  width: auto;
  margin-left: 0;
}

// Placeholder customization
::-webkit-input-placeholder {
    text-align: left;
}
:-moz-placeholder {
    /* Firefox 18- */
    text-align: left;
}
::-moz-placeholder {
    /* Firefox 19+ */
    text-align: left;
}
:-ms-input-placeholder {
    text-align: left;
}

/* Misc */
.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

/* Show more text*/
.show-more {
  margin: 15px 0px;
  text-align: right;
  a {
  font-weight: 500;
  }
}

.ad-banner {
  margin-bottom: 30px;
}

.break-above:before { content: '\A'; }

// Remove border from table
.table>thead>tr>th, .table>tbody>tr>th, .table>tfoot>tr>th, .table>thead>tr>td, .table>tbody>tr>td, .table>tfoot>tr>td {
border: none!important;
}
td > * {
    vertical-align : middle;
}

// Print declarations
.print-shown {
  display: none;
}

@media print {
  html {
  }
  
  header, nav, footer, .print-hidden {
    display: none;
  }
  
  .print-shown {
    display: block;
  }
}