@import 'variables';

.book-row {
  padding-top: 25px;
  padding-bottom: 25px;
}

.book-img {
  display: inline-block;
  margin-bottom: 0px;
  width: 60%;
  @media (max-width: $media-xs) {
    width: 100%;
  }
}

.book-img-sm {
  width: 100%;
}

.manual {
  border: solid 1px #979797;
  background: #eee;
  display: inline-block;
  margin-bottom: 0px;
  overflow: hidden;
  text-align: center;
}

.manual-xs {
  width: 40px; 
  height: 60px;
  margin-top: 25px;
}
.manual-sm {
  // margin-bottom:15px;
  height: 80px;
  width: 60px;
}

.manual-md {
  height: 135px;
  width: 90px;
  @media (max-width: $media-xs) {
    height: 80px;
    width: 60px;
  }
}
.manual-lg {
  height: 225px;
  margin: 0 0 auto;
  margin-bottom: 30px;
  overflow: hidden;
  width: 150px;
  text-align: center;
}

/*Search icon inside*/
.left-inner-addon {
    position: relative;
}
.left-inner-addon input {
    padding-left: 30px;    
}
.left-inner-addon i {
    position: absolute;
    padding: 10px 12px;
    pointer-events: none;
}

.created-at-text {
  // color: gray;
  font-style: italic;
}

.icon-button-add-it-manually {
  float: right;
  margin-left: 20px;
  @media (max-width: $media-sm) {
    float: left;
    margin: 10px 0px 0px 0px;
  }
}

.book-title {
  margin-top: 15px;
}