@import "variables";

.btn { 
  /* all buttons have ease */
  -webkit-transition: ease 0.2s; /* Safari */
  transition: ease 0.2s;
  @media (max-width: 767px) {
    margin: 0 0 auto;
    text-align: center;
  }

}

.btn-default {
  padding: 10px 20px;
  margin: 20px 0;
  background: $main-color;
  color: white;
  border: none;
  border-radius: 2px;
  font-weight: 300;
  font-size: 13.5px;

  &:hover {
    color: white;
    background: $hover-main-color;
  }
  @media (max-width: $media-sm) {
    margin-bottom: 10px;
  }
  
}

.btn-danger {
  padding: 10px 20px;
  margin: 20px 0;
  background: #ff4d4d;
  color: white;
  border: none;
  border-radius: 2px;
  font-weight: 300;
  font-size: 13.5px;
  &:hover {
    color: white;
    background: #ff3333;
  }
  @media (max-width: 767px) {
    margin-bottom: 10px;
  }
}

.fake-button {
  padding: 0;
  border: none;
  display: inline;
  margin: 0;
}

.icon-button {
  display: inline;
}