@import "variables";

 /*INDEX*/
/*Empty state page in index*/

.classroom-empty-state {
  margin: 0 0 auto;
}

.classroom-empty-state-image {
  width: 146px;
  height: 172px;
  margin: 30px;
}

.classroom-empty-state-main-heading {
  margin-bottom:15px;
}

.classroom-empty-state-subtext {
  margin-bottom:15px;
}

/* Classroom buttons in top right */
.classroom-buttons {
  float: right;
  @media (max-width: $media-sm) {
    float: inherit;
    margin: 0 auto;
  }
}

#new-classroom-button {
  @media (max-width: $media-sm) {
    margin: 0 auto;
    margin-bottom: 15px;
    width: 200px;
  }
}

#join-classroom-button {
  @media (max-width: $media-sm) {
    margin: 0 auto;
    margin-bottom: 30px;
    width: 200px;
  }
}

.classroom-index-label-tr {
  height: 60px;
}

.classroom-index-tr {
  height: 60px;
  border-top: 1px solid $light-gray!important;
  border-radius: 20px;
  &:hover {
    cursor: pointer;
    background: $really-light-gray;
    -webkit-transition: ease 0.2s; /* Safari */
    transition: ease 0.2s;
  }
  td {
    margin: 25px 0px;
  }
}

.classroom-box {
  padding: 30px;
  margin: 10px 0;
  border-radius: 20px;
  border: 1px solid $light-gray;
   border-radius: 2px;
  &:hover {
    cursor: pointer;
    background: $really-light-gray;
    -webkit-transition: ease 0.2s; /* Safari */
    transition: ease 0.2s;
  }
}

.new-classroom-box {
  padding: 15px;
  border-radius: 5px;
  border-bottom: none;
}

/* SHOW */
/* ==== */

/* Top right actions (more info and settings) */
.classroom-top-right-actions {
  @media (min-width: $media-xs) {
    text-align:right;
  }
  @media (max-width: $media-xs) {
    margin-top:50px;
  }
}

/* EDIT */
/* New term block in classrooms#new and classrooms#edit */
.new-term-block {
  background: none;
  border: 1px dashed #DBDADA;
  margin-top: 15px;
  margin: 0 auto;
  text-align: center;
  transition: ease 0.2s;
  -webkit-transition: ease 0.2s; /* Safari */
  width: 100%;
  padding: 15px;

  &:hover {
    cursor: pointer;
    border: 1px dashed #4d4d4d;
  }
}

#settings {
  .delete-icon {
    @media (min-width: $media-sm) {
      margin-top:15px;
    }
  }
  .form-lg {
    line-height: 37px;
  }
  .form-label {
    font-size: 18px;
    margin: 10px 0;
    font-weight: 500;
    line-height: 1.1;
  }
}

/* ACTIVITY */
/* ======= */

.pagination > .active > a {
  background-color: $main-color;
  border-color: $main-color;

}

.pagination > li > a {
  color: $main-color;
}

.book-container {
  padding: 20px;
  margin: 15px auto 0;
  border: 1px solid $light-gray;
  text-align: left;

  &:hover {
    background-color: $really-light-gray;
  }
  .user-name {
    margin-top: 10px;
  }

  .book-image {
    margin-right: 20px;
  }

  .avatar-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .list-book-title {
    color: $dark-gray;
    font-weight: bold;
    margin-bottom: 10px;
  }

  p {
    font-size: 14px;
  }
}

.date-added {
  p {
    font-size: 16px;
    margin-top: 14px;
  }
}

.book-container-flex {
  display: flex;
  flex-direction: row;
  align-items: center;
}

/* STUDENTS */

.student-info {
  display: flex;
  flex-direction: row;
  p {
    margin-right: 15px;
  }
}

.student-empty-state {
  margin-top: 20px;
}