@import "variables";
// Support
.support-col {
  margin: 20px 0px 30px;
}

.faq {
  
  h1 {
    text-align: left;
  }
  span  {
    color: #545454;
    font-weight: 300;
    font-size: 16px;
    text-align: left;
    line-height: 1.2em
  }
}

.ud-article-lastedited {
  display: none;
}

.ud-footer {
  display: none;
}