@import "variables";

footer {
  padding: 20px;
  i {
    /*color:#b8b8b8;*/
    margin-right:5px;
    margin-left: none;
  }
}

.footer-home {
  background-color: #2e3234;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  a {
    &:hover {
      color: white;
    }
  }
}

.footer-sm {
  background-color: transparent;

  a, span{
    margin-right: 15px;
    
    list-style-type: none;
    
  }
  ul {
    list-style: none;
    li {
      float: left;
      margin-left: 15px;
      color:#b8b8b8;
      &:hover {
        color:black;
    }
    }
  }
}

