@import "variables";

/* Navbar
------------------------- */
.navbar-home {
	margin-top: -50px;
}

/* Hero
------------------------- */ 

.hero {
  margin: 200px 0px;
  
  .btn {
    padding: 15px 30px;
    font-size: 14px;
    opacity: 1;
  }
    
}

.home {
  p {
    @media (max-width : $media-xs) {
      text-align: center;
    }
  }
}
.hero-jumbotron {
  background-color: $main-color !important;
  position: static;
  padding: 150px 0 100px;
}

.hero-heading {
  color: white !important;
  font-size: 50px;
  text-align: center;
  @media (min-width: $media-sm) {
    text-align: left;
  }
}

.hero-subcopy {
  font-weight: normal !important;
  font-size: 18px; 
  margin-top: 30px;
  color: white;
}


/* Buttons
------------------------- */
.btn-hero {
  background: transparent;
  border: solid 2px white;
  border-radius: 40px;
  color: white;
  font-size: 15px;
  font-weight: 300;
  margin: 20px 0;
  padding: 10px 30px;
  
  &:hover {
    color: white;
    background: rgba(0, 0, 0, 0.1);
  }
}

.btn-home {
  background: transparent;
  border: 2px solid $main-color;
  border-radius: 2px;
  color: $main-color;
  font-weight: 300;
  font-size: 13.5px;
  margin: 40px 0;
  padding: 10px 20px;
  text-transform: uppercase;
  
  &:hover {
    color: white;
	  background: $main-color;
  }
  
  @media (max-width: 992px) {
    margin-top: 30px;
  }
}

/* Jumbotron
------------------------- */
.jumbotron {
  margin: 0;
  @media (max-width: 767px) {
    text-align: center;
    margin: 0 0 auto;
  }
}

.bottom {
  background-color: $main-color;
  border: none;
  h1 {
    color: white;
    margin-bottom: 30px;
    text-align: center;
  }
}

/* Images
------------------------- */
.readlio-screenshot{
  margin: 75px 0px 100px 100px;
}

.terms-screenshot {
  margin: 30px 0px;
}

.amazon-screenshot {
  margin: 60px 60px 0px 60px;
  margin-bottom:30px;
}
/* Misc
------------------------- */
.features-section {
	background-color: #F8F8F8;
  padding: 80px;
}

.featurette-heading {
  font-size: 30px;
  font-weight: 300;
  text-align: left;
  margin: 0px 0px 30px 0px;
  @media (max-width : 992px) {
    text-align: center;
  }
}

.featurette-heading-margin {
  margin: 125px 0px 30px 0px;
  @media (max-width : 992px) {
    margin: 0px 0px 30px 0px;
  }
}
.feature-circle {
  margin: 0 auto;
  height: 4em;
  width: 4em;
  padding: 1em;
  // background: #F1F1F1;
  border-radius: 2em;
  // border: 1px solid gray;
}
.twitter-avatar {
  margin: 50px 0px 30px;
  border-radius: 40px;
  width: 80px;
  height: 80px;
}