/* Classroom block in index */
.classroom-list-block {
  background: rgba(250,250,250,.98);
  border: 1px solid #eee;
  border-radius: 4px;
  margin-bottom:15px;
  text-align: center;
  width: 200px;
  height: 200px;
  word-wrap: break-word;
  margin: 15px;
}

.new-list-block{
  width: 200px;
  height: 200px;
  background: none;
  border: 1px dashed #DBDADA;
  margin: 0 0 auto;
  text-align: center;
  margin: 15px;
}

.list-empty-state-image {
  color: #494949;
  width: 216px;
  height: 167px;
  margin: 30px;
}

// Import_page
#import-title {
  margin: 30px 0px;
}

#import-text {
  // text-align: center;
  margin-bottom:30px;
}

// #faq-link {
//   text-align: center;
//   margin-bottom:30px;
// }