@import "variables";
.navbar.navbar-inverse {
  height: 50px;
  border: none;
}

.navbar-normal {
  background: $main-color;
}

.navbar-collapse {
  background: $main-color;
}

/* Title */
#logo {
  font-weight: bold;
  float: left;
  color: white;
  font-size: 1.5em;
  padding-top: 15px;
  @media (max-width: 767px) {
    padding-left: 15px;
  }
}

/* Nav links*/
.navbar-inverse .nav > li > a {
  font-weight: normal;
  // text-transform: uppercase;
  color: white;
  padding-left: 15px;
  @media (max-width: 767px) {
    li {
      margin: 0 0 auto;
      text-align: center;
    }
  }
  &:hover {
    opacity: 0.5;
  }
}

/* mobile */

.navbar-toggle {
  border: white;
  &:hover {
    background: transparent;
  }
}

.navbar-inverse .navbar-collapse .navbar-normal {
  text-align: center;
  @media (max-width: 767px) {
    background-color: #38A6A6;
  }
}

// // Normal
// .navbar-normal {
//   .navbar-collapse {
//     border-top: none;
//     background: transparent;
//   }
// }
// Home
.navbar-home {
  margin-bottom: -70px;
  background: transparent;
  .navbar-collapse {
    border-top: none;
    background: transparent;
  }
}

/* dropdown */
// fix box shadow with psuedo elements
.btn-group.open .dropdown-toggle {
  -webkit-box-shadow: none;
  box-shadow: none;
}

.dropdown-toggle {
  color: white;
  margin-top: 8px;
  border: none;
  background: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  &:hover{
    color: white;
  }
}

.dropdown .dropdown-menu {
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;

  max-height: 0;
  display: block;
  overflow: hidden;
  opacity: 0;
}

.dropdown.open .dropdown-menu {
  max-height: 150px;
  opacity: 1;
}