@import "variables";

#search {
    .btn-default {
        margin-top: 20px;
    }

    .show-more {
    	margin-bottom: -20px;
    }

    .bottom-text {
    	margin: 30px 0;
    	text-align: center;
    }
    /* Style the search field */
    form.search-form input[type=text] {
        border: 1px solid grey;
        float: left;
        width: 90%;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }
    /* Style the submit button */
    form.search-form button {
        float: left;
        width: 10%;
        padding: 4px;
        background: $main-color;
        color: white;
        font-size: 17px;
        border: 1px solid grey;
        border-left: none;
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
        /* Prevent double borders */
        cursor: pointer;
    }

    form.search-form button:hover {
        background: $hover-main-color;
    }
    /* Clear floats */
    form.search-form::after {
        content: "";
        clear: both;
        display: table;
    }
}