/* typography */
@import "variables";

h3, h4, h5, h6 {

  @media (max-width: $media-md) {
    /*margin-bottom:20px;*/
  }
}

h1 {
  font-weight: bold;
  margin-bottom: 20px;
}

.h1-default{
  margin-bottom: 30px;
}

.h1-centered {
  margin: 30px auto;
  text-align: center;
}


i em {
  font-weight: 300;
  font-style: italic;
  color: #545454;
}

span {
  font-weight: 300;
  line-height: 1em;
}

p {
  color: #545454;
  font-weight: 300;
  font-size: 16px;
  text-align: inherit;
}

strong {
  line-height: 1em;
  font-weight: 500;
}

b {
  line-height: 1em;
  font-weight: 500;
}

a {
  font-weight: 300;
  line-height: 1em;
  color: #757575;
  -webkit-transition: all 0.2s; /* Safari */
  transition: all 0.2s;
  &:hover{
    color: black;
    text-decoration: none;
  }
}

td {
  color: #545454;
  font-weight: 300;
  font-size: 16px;
}

.danger {
  color: red;
}