// Darker teal
$main-color: #566270;
$main-color-light: #5A6979;
$hover-main-color: #242A31;
$dark-gray: #303030;
$gray: #e8e8e8;
$light-gray: #f5f5f5;
$really-light-gray: #FAFAFA;

$media-xxs: 320px;
$media-xs: 480px;
$media-sm: 768px;
$media-md: 992px;
$media-lg: 1200px;


/* mixins, variables, etc. */

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
  @media (max-width: $media-sm) {
    text-align: center;
    margin-left: -30;
    margin-right: -30;
  }
}

@mixin vertical-align($position: relative) {
  position: $position;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
