<%# if classbook.manual %>
	<%# @review = classbook.review %>
<%# else %>
	<%# @review = Review.find_by(book_id: classbook.id, model_type: "Classbook").content %>
<%# end %>
<!-- REVIEW -->
<%# if @review %>
	<% unless classbook.review.blank? %>
		<div class="show-more-text">
			<p><%= sanitize @markdown.render(classbook.review) %></p>
		</div>
	<% else %>
		<%# if defined? @review.user_id && @review.user_id == current_user.id %>
			<!--<p><i>You haven't written a review.</i></p>-->
		<%# else %>
			<p><i>This user hasn't written a review.</i></p>
		<%# end %>
	<% end %>
<%# end %>

