<% provide(:title, "Edit your review") %>

<div class="container-fluid">
    <div style="margin-bottom: 30px">
      <% if @review.model_type == "Book" %>
        <%= link_to "< Back", book_path(@book), class: "back-to-text" %>
      <% else %>
        <%= link_to "< Back", classbook_path(@book) %>
      <% end %>
      <h1>Edit your review</h1>
    </div>

    <div class="col-md-6 col-md-offset-3" style="margin-bottom:30px">
    	<div class="center">
    	  <%= image_tag(@book.image_url, class:"center", width:"150") %><br>
      	<h3><%=@book.title%></h3>
      	<h4><%=@book.author%></h4>
    		<p class="center">Pages: <%=@book.pages%></p><br>
    		
    		<%= form_for(@review) do |f| %>
          <%= render 'shared/error_messages', object: f.object %>
          <%= f.text_area :content, placeholder: "Write a review (optional).\n\nSupports Markdown.", class:"form-control", rows: "14" %>
          <%= f.submit "Save changes", class: "btn btn-default green-hover" %>
        <% end %>
      </div>
    </div>
</div>