<%= form_for(@classbook) do |f| %>
	<%= f.text_area :review, class: 'form-control', placeholder: "Write a review (optional). \n \nAny thoughts or comments on the book? Did you like the book or hate it? i.e. 'Harry Potter is an excellent book by J.K. Rowling because of the brilliant...'", rows: "10" %>
          
	<%= hidden_field_tag "classbook[title]", result[:title] %>
	<%= hidden_field_tag "classbook[author]", result[:author] %>
	<%= hidden_field_tag "classbook[amazon_url]", result[:url] %>
	<%= hidden_field_tag "classbook[image_url]", result[:image_url] %>
	<%= hidden_field_tag "classbook[asin]", result[:asin] %>
	<%= hidden_field_tag "classbook[isbn]", result[:isbn] %>
	<%= hidden_field_tag "classbook[pages]", result[:pages] %>
	<%= hidden_field_tag "classbook[description]", result[:editorial_review] %>
	<%= hidden_field_tag "classbook[manual]", false %>

	<div style="width:100%">
		<%= f.select :classroom_id, options_for_select(@classroom_options), multiple: true, class: "form-control" %>

		<%# @classrooms.each do |classroom| %>
			<!-- div class="checkbox inline">
			  <%# check_box_tag('checked_classrooms[]', classroom.id, checked = false, options = {}) %>
              <span style="margin: 0px 0px 30px 25px"><%# classroom.title %></span>
            </div> -->
        <%# end %>
	</div>
	
	<div class="sm-center">
		<%= f.submit "Add to classroom", class: "btn btn-default" %>
	</div>
<% end %>