<div class="col-sm-12">
	<div class="book-container">
		<%= link_to classbook_path(classbook) do %>
			<div class="book-container-flex">
				<% unless classbook.manual %>
						<%= image_tag(classbook.image_url, class: "book-image", width: "50px", height: "100%", alt: classbook.title) %><br><br>
				<% end %>
				<div>
					<h4 class="list-book-title"><%= classbook.title %></h4>
					<h5 class="list-book-author"><%= classbook.author %></h5>
					<p class="list-book-pages">Pages: <%= classbook.pages %></p>
					<p class="date-added">Added <%= classbook.created_at.strftime("%m/%d/%Y") %></p>
				</div>
			</div>
		<% end %>
	</div>
</div>