<%= form_for(@classbook) do |f| %>
    <%= render 'shared/error_messages', object: f.object %>
    <%= f.select :classroom_id, options_for_select(@classroom_options), class: "form-control" %>
    <%= f.text_field :title, class: 'form-control', placeholder: "Title", autofocus: 'autofocus' %>
    <%= f.text_field :author, class: 'form-control', placeholder: "Author" %>
    <%= number_field_tag :pages, nil, class: 'form-control', placeholder: "Number of pages", min: 0, max: 100_000 %>
    <%= f.text_area :review, class: 'form-control', placeholder: "Write a review (optional). \n \nAny thoughts or comments on the book? Did you like the book or hate it? i.e. 'Harry Potter is an excellent book by J.K. Rowling because of the brilliant...'", rows: "6" %>
    
    <%= hidden_field_tag "classbook[term_id]", @classroom.current_term_id %>
    <%= hidden_field_tag "classbook[manual]", true %>
    
    <div class = "center">
      <%= f.submit "Add to classroom", class: "btn btn-default" %>
    </div>
 <% end %>