<!--Start modal-->
<div class="modal-dialog">
	<!--Start modal content-->
	<div class="modal-content">
		<!--Modal header-->
		<div class="modal-header">
			<!--X to close modal-->
	        <button type="button" class="close" data-dismiss="modal">&times;</button>
	        <!--Modal title-->
	        <h4 class="modal-title center">Add this book to a classroom</h4>
	    </div>
	    <!--Start modal body-->
	    <div class="modal-body">
	    	<!--Start row-->
	    	<div class="row">
	    		<!--Left hand side of the modal-->
				<div class = "col-md-4 center">
					<!--Book image-->
					<%= link_to image_tag(result[:image_url], width: "100px", style: "margin-top:15px"), result[:url] %>
					<!--Book title-->
					<h4><%= link_to result[:title], result[:url] %></h4>
					<!--Book author-->
					<h5><%= result[:author] %></h5>
					<!--Book pages-->
					<h5>Pages: <%=result[:pages]%></h5>
				</div>
				<!--Right hand side of the modal-->
				<div class= "col-md-8">
					<!--Check if classroom terms exist-->
					<%= render 'classbook_form', result: result, result_number: result_number %>
				</div>
			</div>
			<!--End row-->
		</div>
		<!--End modal body-->
	</div>
	<!--End modal content-->
</div>
<!--End modal-->