<% provide(:title, "Edit " + @classbook.title) %>
<%= render "classrooms/sidebar_show" %>
<div class="container-fluid">
  <h1 class="h1-default">Editing Book</h1>
  <%= form_for(@classbook) do |f| %>
    <%= render 'shared/error_messages', object: f.object %>
    <%= f.label :title %>
    <%= f.text_field :title, class: 'form-control', placeholder: "Title" %>
    <%= f.label :author %>
    <%= f.text_field :author, class: 'form-control', placeholder: "Author" %>
    <%= f.label :pages %>
    <%= f.number_field :pages, class: 'form-control', placeholder: "Number of pages", min: 0, max: 100_000 %>
    <%= f.label :review %>
    <%= f.text_area :review, placeholder: "Any thoughts or comments on the book? Did you like the book or hate it? What was the writing style like?  i.e. 'Harry Potter is a great book by J.K. Rowling.'\n\n Supports Markdown.", class:"form-control", rows: "6" %>
    <div class="center">
      <%= f.submit "Save changes", class: "btn btn-default green-hover" %>
    </div>
  <% end %>
</div>