<% provide(:title, 'Add Book') %>
<%= render "classrooms/sidebar_show" %>
<div class="container-fluid">
  <% if current_user.classrooms("classrooms.id").any? %>
    <!-- There are classrooms -->
        <h1 class="h1-default">Add it manually</h1>
        <%= form_for(@classbook) do |f| %>
          <%= render 'shared/error_messages', object: f.object %>
          <%= f.select :classroom_id, options_for_select(@classroom_options), class: "form-control" %>
          <%= f.text_field :title, class: 'form-control', placeholder: "Title", autofocus: 'autofocus' %>
          <%= f.text_field :author, class: 'form-control', placeholder: "Author" %>
          <%= f.number_field :pages, class: 'form-control', placeholder: "Number of pages", min: 0, max: 100_000 %>
          <%= f.text_area :review, class: 'form-control', placeholder: "Write a review (optional). \n \nAny thoughts or comments on the book? Did you like the book or hate it? i.e. 'Harry Potter is an excellent book by J.K. Rowling because of the brilliant...'", rows: "6" %>
          
          <%= hidden_field_tag "classbook[manual]", true %>
          
          <div class="center">
            <%= f.submit "Add to classroom", class: "btn btn-default" %>
          </div>
       <% end %>
    <% else %>
    <!-- There aren't classrooms -->
      <p class="center">You don't belong to any classrooms, so you can't add a book to a classroom.</p>
    <% end %>
  </div>
</div>
<script>
	// Disable form after one click so that you can't add the book twice
  var $myForm = $("#new_classbook");
	$myForm.submit(function(){
	    $myForm.submit(function(){
	        return false;
	    });
	});

</script>