<% provide(:title, "Print your books in " + @classroom.title) %>
<%= render "classrooms/sidebar_show" %>
<div class="container-fluid">
  <!--Page title-->
  <h1 class="print-hidden">Print your books in <%= @classroom.title %></h1>
  <p class="print-hidden">Right click (ctrl-click on Mac) and select "Print...".</p>
  <!--Selecting which books to be included in table, only if there are classroom terms-->

  <% if @classroom.has_terms? %>
    <div class="pull-right print-hidden">
      <%= select_tag "terms", options_from_collection_for_select(@classroom.terms, "id", "title", @selected_term_id.to_s), class: "dropdown-select form-control", :include_blank => 'Show all' %>
  		<script>
  			$(document).ready(function () {
            $('#terms').on('change', function () {
                var term = $("#terms").val();
    				    var url = '/classbooks_print?classroom_id='+<%= @classroom.id %>+'&term_id='+term;
    				    window.open(url,"_self");
            });
        });
  		</script>
  	</div>
  <% end %> <!--End if @classroom.has_terms?-->
  <!--Start table-->
  <table class="table">
    <!--Top table row with titles-->
    <tr>
      <td><strong>Title</strong></td>
      <td><strong>Author</strong></td>
      <td><strong>Pages</strong></td>
    </tr>
    <!--Indivudal table rows-->
    <% if @classbooks.any? %>
      <% @classbooks.each do |classbook| %>
        <tr>
          <td><%= classbook.title %></td>
          <td><%= classbook.author %></td>
          <td><%= classbook.pages %></td>
        </tr>
      <% end %>
    <% end %>
    <!--End invidual table rows-->
  </table>
  <strong>Total Pages: <%= @total_pages %></strong><br>
  <strong>Total Books: <%= @classbooks.count %></strong>
  <% unless @classbooks.any? %>
    <p>You haven't added any books <% if @classroom.has_terms? %>for this term<% else %>to this classroom<% end %>.</p>
  <% end %>
  <!--End table-->
</div>
<!--End container-->