<% provide(:title, 'Search Google Books') %>
<%= render "classrooms/sidebar_show" %>
<!-- Top section -->
<div class="container-fluid" id="search">
	<h1 class="h1-default">Add Book By Search</h1>
	<% if current_user.classrooms.any? %>
		<!-- Search bar -->
		<%= form_tag(classroomsearch_path, method: "get", class: "search-form") do %>
		  <div class="search-form">
		    <%= text_field_tag :keywords, params[:keywords], placeholder: "Search by book title or author", class: "form-control", autofocus: 'autofocus' %>
		    <%= hidden_field_tag :classroom_id, params[:classroom_id] %>
		    <%= button_tag(type: "submit") do %>
			    <i class="glyphicon glyphicon-search"></i>
				<% end %>
		  </div>
		<% end %>

		<!-- Begin results -->
		<% unless @results.nil?%>
			<% if @results.any?%>
				<% result_number = 0 %>
				<% @results.each do |result| %>
					<% result_number += 1 %>

					<% @modal_name = "addClassbookModal" + result_number.to_s %>
					<div id=<%=@modal_name%> class="modal fade" role="dialog">
						<%= render 'search_modal', result: result, result_number: result_number %>
					</div>
	
					<!-- Begin individual -->
					<div class="book-row thumbnail">
						<div class="row">
							<div class="col-md-4 center">
								<%= link_to image_tag(result[:image_url], width: "100px", style: "margin-top:15px"), result[:url] %>
							</div>
							<div class="col-md-8 md-center">
								<h4><%= link_to result[:title], result[:url] %></h4>
								<h5><%= result[:author] %></h5>

								<!--Show editorial review if there is one, also hide the full content with a show more if needed-->
								<% if result[:editorial_review] %>
								    <!--Display the editorial review-->
									<div class="show-more-text">
										<p><%= sanitize result[:editorial_review], tags: %w(br p) %></p>
									</div>
								<% end %>

								<!-- Begin add button -->
								<% if logged_in? %>
									<% if current_user.classrooms.count > 0 %>
										<div data-toggle="modal" data-target=<%="#addClassbookModal"+result_number.to_s%>>
									    	<button class="btn btn-default">Add to classroom</button>
									     </div>
									<% else %>
										<!-- User has no lists -->
										<p> You don't belong to any classrooms. You can't add this book to a classroom.</p>
									<% end %>
								<% end %>
								
							</div>
						</div>
					</div>
				<% end %>
				<% unless @results.count < 10 %>
					<p class="bottom-text">Showing first 10 results only.</p>
				<% end %>
			<% else %>
				<p class="bottom-text">No results found. Try another keyword.</p>
			<% end %>
		<% end %>
	<% else %>
	<!-- No classrooms-->
	<div class="center">
    	<p class="center">You don't have any classrooms to add a book to.</p>
    </div>
	<% end %>
</div>
<%= render 'shared/show_more_js' %>
<script>
	// Disable form after one click so that you can't add the book twice
  var $myForm = $("#new_classbook");
	$myForm.submit(function(){
	    $myForm.submit(function(){
	        return false;
	    });
	});

</script>