<% provide(:title, @classbook.title) %>
<%= render "classrooms/sidebar_show" %>
<div class="container-fluid container-padding">
  <div class="row">
      <!--Left hand side, includes book image, title, author, pages, current_term, and link to buy book on Amazon-->
      <div class="col-md-3">
        <div class="center">
          <!--Gives book image, and if manual displays manual thumbnail with title-->
          <%= render 'books_classbooks/book_image', book: @classbook %>
          <h3><%= @classbook.title %></h3>
          <!--Author-->
      		<h4><%=@classbook.author%></h4>
          <p><b>Pages:</b> <%= @classbook.pages %></p>
        	<!--Current term but only if there is one-->
        	<% unless @term.nil? %>
    		    <p><b>Term:</b> <%= @term.title %></p>
        	<% end %>
          <p class="date-added"><b>Added:</b> <%= @classbook.created_at.strftime("%m/%d/%Y") %></p>
        </div>

      </div>
      <!--Right hand side, includes editorial review and current_user's review -->
      <div class="col-md-8">
          <%= render 'books_classbooks/book_review', book: @classbook %>
          <hr>
          <%= render 'books_classbooks/book_actions', book: @classbook %>
      </div>
  </div>
</div>

<%= render 'shared/show_more_js' %>
