<!-- DROPDOWN -->
<span class="btn-group dropdown hidden-xs pull-right">
  <!-- Dropdown toggle -->
  <button class= "btn dropdown-toggle" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" style="padding-top: 0px" align="right">
    <!-- Avatar -->
    <%= avatar_for current_user, size: 30 %>
    <!-- Caret -->
    <span class="caret" style="color:white"></span>
  </button> <!-- End dropdown toggle -->
  <!-- Dropdown menu -->
  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
    <!-- Settings -->
    <li class="dropdown-li"><%= link_to "Profile", user_path(current_user) %></li>
    <!--<li class="dropdown-li"><%# link_to 'Badges', badges_path %><li>-->
    <li class="dropdown-li"><%= link_to "Settings", edit_user_path(current_user) %></li>
    <!-- Separator -->
    <li role="separator" class="divider"></li>
    <!-- Log out -->
    <li class="dropdown-li"> <%= link_to "Log out", logout_path, method: "delete" %> </li>
  </ul> <!-- End dropdown menu -->
</span> <!-- END DROPDOWN -->
