<!--Font awesome-->
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">

<% if @home %>
<footer class="footer-home">
	<p><%= link_to support_path do %><i class="fa fa-question-circle"></i><span>Support</span><% end %></p>
	<p>(c) <%= Time.now.year %> Readlio. All rights reserved.</p>
</footer>
<% else %>
<footer class="footer-sm">
	<hr>
	<ul>
		<li><%= link_to support_path do %><i class="fa fa-question-circle"></i><span>Support</span><% end %></li>
		<span class="pull-right hidden-xs">(c) <%= Time.now.year %> Readlio. All rights reserved.</span>
	</ul>
</footer>
<% end %>