<!-- Make responsive -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/>
<!--SEO Keywords-->
<meta name="keywords" content="books,reading,log,school,english,lists,amazon,classroom,pages,suggestions,recommendations,classmates,count,page,student,teacher,reviews,recording,form">
<!--Favicon-->
<%= render 'favicon' %>

<!-- Validation for Bing webmaster tools -->
<meta name="msvalidate.01" content="4A53A59FC482B28E5AB468A83F0F9947" />

<!--Verification for readlio.com-->
<meta name="google-site-verification" content="b1TqYfseJGAaXMdqnFAWDtlWKtgEspLFZxhjNS4AxbY" />

<!--Verification for www.readlio.com-->
<meta name="google-site-verification" content="b1TqYfseJGAaXMdqnFAWDtlWKtgEspLFZxhjNS4AxbY" />

<!--Script to include Google Analytics-->
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-75863150-1', 'auto');
  ga('send', 'pageview');

</script>

<!--Include stylesheets-->
<%= stylesheet_link_tag 'application', media: 'all', "data-turbolinks-track" => true %>
<%# stylesheet_link_tag('print', :media => :print) %>
<%= javascript_include_tag 'application', "data-turbolinks-track" => true %>
<%= csrf_meta_tags %>

<!--[if lt IE 9]>
  <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/r29/html5.min.js">
  </script>
<![endif]-->

<title><%= full_title(yield(:title)) %></title>