<nav class="navbar navbar-home navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <!-- Nav collapse (only for mobile) -->
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>                        
        </button>
        <!-- Logo -->
        <%# image_tag 'logo.png', class: "logo-img" %>
        <a class="navbar-title"><%= link_to "Readlio", root_path, id: "logo" %></a>
      </div>
      <!-- Start nav collapse (right hand side)-->
      <div class="collapse navbar-collapse navbar-normal" id="myNavbar">
        <ul class="nav navbar-nav navbar-right">
          <!-- Appear if not logged in -->
          <li><%= link_to "Log in",  login_path %></li>
          <li><%= link_to "Sign up",   signup_path %></li>
        </ul> <!-- End navbar unordered list -->
      </div> <!-- End nav collapse (right hand side)-->
    </div>
  </nav>