<% unless @home %>
  <nav class="navbar navbar-normal navbar-fixed-top navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <!-- Nav collapse (only for mobile) -->
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>                        
        </button>
        <!-- Logo -->
        <a class="navbar-title"><%= link_to "Readlio", root_path, id: "logo" %></a>
      </div>

      <div class="collapse navbar-collapse" id="navbar">
        <ul class="nav navbar-nav navbar-right">
          <% if logged_in? %>
              <!--Classrooms-->
              <li id="classrooms-li"><%= link_to "Classrooms", classrooms_path %></li>
              <!--Lists - only if enabled-->
              <% if current_user.lists_enabled %>
                <li id="lists-li"><%= link_to "Lists", lists_path %></li>
              <% end %>
              <% if current_user.admin %>
                <li><%= link_to "Admin", '/admin', :"data-no-turbolink" => true %></li>
              <% end %>
              <li></li>
            <!-- Mobile links -->
            <li class="visible-xs"><%= link_to "Profile", user_path(current_user) %></li>
            <li class="visible-xs"><%= link_to "Settings", edit_user_path(current_user) %></li>
            <li class="visible-xs"> <%= link_to "Log out", logout_path, method: "delete" %> </li>
            <%= render 'layouts/dropdown' %>
          <% else %>
            <!-- Appear if not logged in -->
            <li><%= link_to "Log in",  login_path %></li>
            <li><%= link_to "Sign up",   signup_path %></li>
          <% end %> <!-- End if logged in -->
        </ul> <!-- End navbar unordered list -->
      </div> <!-- End nav collapse (right hand side)-->
    </div> <!-- End container-fluid -->
  </nav>
<% else %>
  <%= render 'layouts/home_nav' %>
<% end %>
