<!DOCTYPE html>
<html>
  <head>
    <%= render 'layouts/head' %>
  </head>
  <body>
    <%= render 'layouts/nav' %>
    <% if content_for(:side_bar) %>
      <div id="wrapper">
        <%= render 'layouts/sidebar' %>
        <div id="page-content-wrapper">
    <% end %>
        <% flash.each do |message_type, message| %>
          <%= content_tag :div, class: "alert alert-#{message_type} alert-dismissable" do %>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <%= message %>
          <% end %>
        <% end %>
        <% if logged_in? %>
          <%= render 'shared/ad_banner' %>
        <% end %>
        <%= yield %>
        <%= render 'layouts/footer' %>
      <% if content_for(:side_bar) %>
      </div>
      </div>
      <% end %>
  </body>
  
</html>
